<div class="top">
			
		<h2>História</h2>

	</div> <!-- END TOP -->

	<div class="clearfix"></div>

	<div class="full">
		<%= @autor.sobre.html_safe %>
	</div> <!-- END PAGE -->
								
	<div class="clearfix"></div>