<%- if !@last_coments.empty? %>
	<div class="comments">

		<h3>Latest Comments</h3>
		
		<ul class="comm-list">
			<% @last_coments.each do |comment|%>	
				<li><%= comment.commenter %> <%= link_to truncate(comment.body, :length => 80), view_blog_path(comment.post) %></li>
			<% end %>
		</ul>

	</div> <!-- END COMMENTS -->
	<div class="clearfix"></div>
<% end %>