<h1>Listing categoria</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categoria.each do |categorias| %>
  <tr>
    <td><%= link_to 'Show', categorias %></td>
    <td><%= link_to 'Edit', edit_categorias_path(categorias) %></td>
    <td><%= link_to 'Destroy', categorias, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Categorias', new_categorias_path %>
