<div class="top">
	
	<h2>About</h2>

</div> <!-- END TOP -->

<div class="clearfix"></div>

<div class="page about">

	<h3 class="pageheader">History</h3>
	
	<a href="images/slider/slider-image1.jpg" class="imgLeft fancybox"><img src="images/blog/home-thumb1.jpg" alt="History image"></a>
	<p>Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
	
	<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis.
	
	Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
	<p>Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.
	
	Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.</p>
				
</div> <!-- END PAGE -->

<div class="sidebar blog-side">

	<div class="catg">
	
		<h3>Menu</h3>
		
		<ul class="catg-list">
			<li><a href="#" class="active">History</a></li>
			<li><a href="#">Meet the team</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">Guestbook</a></li>
		</ul>
	
	</div> <!-- END CATEGORIES -->

	<div class="clearfix"></div>
			
	<div class="video">
	
		<h3>Check this out</h3>
		
		<iframe src="http://player.vimeo.com/video/27243869?color=ffffff" width="280" height="150" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	
	</div> <!-- END VIDEO -->
	

</div> <!-- END SIDEBAR -->