<!--
<div class="video">
	
	<h3>Check this out</h3>
	
	<iframe src="http://player.vimeo.com/video/27243869?color=ffffff" width="280" height="150" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

</div> <!-- END COMMENTS -->