<div id="date-1">

	<h2 class="list-date">5 de março de 2012</h2>
	
	<ul class="list" onclick="showDetail(1)">
		<li>
			<span class="date">21:00</span>
			<span class="info">Compramos as alianças de noivado !!</span>
			<h2 style="cursor:pointer">Alianças</h2>
		</li>
	</ul>
	<div style="display: none" id="date-1-detail">
		<p>
			Compramos a aliança... inicio de uma grande história que nos espera.... na certeza que Deus está na frente !
		</p>
	</div>
</div>
<br/>
<div id="date-2">

	<h2 class="list-date">21 de abril de 2012</h2>
	
	<ul class="list" onclick="showDetail(2)">
		<li>
			<span class="date">19:00</span>
			<span class="info" onclick="location.href='/blog/2/list/category'" style="cursor:pointer">Pedi e ela aceitou !! Estamos noivos !! </span>
			<h2 style="cursor:pointer">Noivado</h2>
		</li>
	</ul>
	<div style="display: none" id="date-2-detail">
		<p>
			Esse evento merece um post 100% sobre ele falando como foi esse momento especial em nossas vidas.<br>
			<br>
			Cique <a href="/blog/1/view">aqui</a> e leia um pouco mais sobre nossa história
		</p>
	</div>
</div>
<br/>
<div id="dat-3">

	<h2 class="list-date">06 de maio de 2012</h2>
	
	<ul class="list" onclick="showDetail(3)">
		<li>
			<span class="date">18:00</span>
			<span class="info" onclick="location.href='/blog/2/list/category'" style="cursor:pointer">Fechamos a Foto Filmagem com a 5D</span> 
			<h2 style="cursor:pointer">Photo & Film</h2>
		</li>
	</ul>
	<div style="display: none" id="date-3-detail">
		<p>
			O pessoal da 5D (<a href="http://www.5dphotoefilms.com.br/" target="_blank">http://www.5dphotoefilms.com.br/</a>) tem sido bem atencioso conosco e acredito que vamos ter muitas boas recordações gravadas.<br>
			<br>
			Espero que você esteja lá para viver esses momentos gostosos ao nosso lado!
		</p>
	</div>
</div>
<br/>
<div id="date-4" onclick="showDetail(4)">

	<h2 class="list-date">16 de julho de 2012</h2>
	
	<ul class="list">
		<li>
			<span class="date">20:00</span>
			<span class="info" onclick="location.href='/blog/2/list/category'" style="cursor:pointer">Buffet Castelo Imperial fechado!</span> 
			<h2 style="cursor:pointer">Festa garantida!</h2>
		</li>
	</ul>
	<div style="display: none" id="date-4-detail">
		<p>
			Festa agora está garantida no Buffet Castelo Imperial (<a href="http://www.buffetcasteloimperial.com.br/" target="_blank">http://www.buffetcasteloimperial.com.br</a>)<br>
		</p>
	</div>
</div>
<br/>
<div id="date-5">

	<h2 class="list-date">25 de agosto de 2012</h2>
	
	<ul class="list" onclick="showDetail(5)">
		<li>
			<span class="date">10:00</span>
			<span class="info" onclick="location.href='/blog/2/list/category'" style="cursor:pointer">Carro fechado com a PC!</span> 
			<h2  style="cursor:pointer">Chegar com estilo!</h2>
		</li>
	</ul>
	<div style="display: none" id="date-5-detail">
		<p>
			Nesse dia pela manhã, fechamos com o Edson e o Alexandre o carro que a Talita vai chegar na cerimônia e na festa de casamento.<br>
			<br/>
			Fechamos com a empresa Portal Clássicos (<a href="http://www.portalclassicos.com.br/" target="_blank">http://www.portalclassicos.com.br</a>) e vocês podem entrar no site para tentar adivinhar qual carro escolhemos, mas tem que ir no dia para conferir !
		</p>
	</div>
</div>

<div id="date-6">

	<h2 class="list-date">22 de junho de 2013</h2>
	
	<ul class="list" onclick="showDetail(6)">
		<li>
			<span class="date">15:30</span>
			<span class="info" onclick="location.href='/blog/2/list/category'" style="cursor:pointer">Chá & Bar</span> 
			<h2  style="cursor:pointer">Primeiros passos para casa!</h2>
		</li>
	</ul>
	<div style="display: none" id="date-6-detail">
		<p>
			Venha se alegrar e se divertir conosco nesse cha&bar onde vamos celebrar um marco importante antes da data da camento. <br>
			Aos poucos estamos entregando os convites, mas seja bemvindo a essa festa!
		</p>
	</div>
</div>

<div id="date-7">

	<h2 class="list-date">03 de agosto de 2013</h2>
	
	<ul class="list" onclick="showDetail(7)">
		<li>
			<span class="date">15:30</span>
			<span class="info" onclick="location.href='/blog/2/list/category'" style="cursor:pointer">Casamento</span> 
			<h2  style="cursor:pointer">O grande dia!</h2>
		</li>
	</ul>
	<div style="display: none" id="date-7-detail">
		<p>
			&nbsp;
		</p>
	</div>
</div>