<div id="date-1">

	<h2 class="list-date">5 de março</h2>
	
	<ul class="list">
		<li>
			<span class="date">21:00</span>
			<span class="info">Compramos as alianças de noivado !!</span>
			<h2>Alianças</h2>
		</li>
	</ul>
</div>