<div id="date-1">

	<h2 class="list-date">5 de março</h2>
	
	<ul class="list">
		<li>
			<span class="date">21:00</span>
			<span class="info">Compramos as alianças de noivado !!</span>
			<h2>Alianças</h2>
		</li>
	</ul>
</div>

<div id="date-2">

	<h2 class="list-date">21 de abril</h2>
	
	<ul class="list">
		<li>
			<span class="date">19:00</span>
			<span class="info" onclick="location.href='/blog/2/list/category'" style="cursor:pointer">Pedido e aceitcão do noivado !! Estamos noivos !! </span>
			<h2>Noivado</h2>
		</li>
	</ul>
</div>