<div class="top">
		
	<h2>Eventos</h2>

</div> <!-- END TOP -->

<div class="clearfix"></div>

<div class="sidebar events-side">
		
	<div class="events">
	
		<h2 class="events-head">Eventos</h2>
		
		<table class="eve-list" id="mes3" style="display: none;">
		
			<thead>
				<tr class="month"><th colspan="7">
					Março de 2012
					<span onclick="paginationIncrementCalendar(3)" style="font-weight: bold; cursor: pointer;" /> > </span>
				</th></tr>
			</thead>
			
			<tbody>
				<tr class="days"><td>dom</td><td>seg</td><td>ter</td><td>qua</td><td>qui</td><td>sex</td><td>sab</td></tr>
				<tr><td></td><td></td><td></td><td></td><td>1</td><td>2</td><td>3</td></tr>
				<tr><td>4</td><td id="date-1" class="link">5</td><td >6</td><td>7</td><td>8</td><td>9</td><td >10</td></tr>
				<tr><td>11</td><td>12</td><td>13</td><td >14</td><td>15</td><td>16</td><td>17</td></tr>
				<tr><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td></tr>
				<tr><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td></tr>
			</tbody>
		</table>

		<table class="eve-list" id="mes4" style="display: none;">
		
			<thead>
				<tr class="month"><th colspan="7">
					<span onclick="paginationDecrementCalendar(4)" style="font-weight: bold; cursor: pointer;" /> < </span> 
					Abril de 2012
					<span onclick="paginationIncrementCalendar(4)" style="font-weight: bold; cursor: pointer;" /> > </span>
				</th></tr>
			</thead>
			
			<tbody>
				<tr class="days"><td>dom</td><td>seg</td><td>ter</td><td>qua</td><td>qui</td><td>sex</td><td>sab</td></tr>
				<tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
				<tr><td>8</td><td >9</td><td >10</td><td>11</td><td>12</td><td>13</td><td >14</td></tr>
				<tr><td>15</td><td>16</td><td>17</td><td >18</td><td>19</td><td>20</td><td id="date-2" class="link">21</td></tr>
				<tr><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td></tr>
				<tr><td>29</td><td>30</td><td></td><td></td><td></td><td></td><td></td></tr>
			</tbody>
		</table>

		<table class="eve-list" id="mes5" style="display: none;">
		
			<thead>
				<tr class="month"><th colspan="7">
					<span onclick="paginationDecrementCalendar(5)" style="font-weight: bold; cursor: pointer;" /> < </span> 
					Maio de 2012
					<span onclick="paginationIncrementCalendar(5)" style="font-weight: bold; cursor: pointer;" /> > </span>
				</th></tr>
			</thead>
			
			<tbody>
				<tr class="days"><td>dom</td><td>seg</td><td>ter</td><td>qua</td><td>qui</td><td>sex</td><td>sab</td></tr>
				<tr><td></td><td></td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr>
				<tr><td id="date-3" class="link">6</td><td >7</td><td >8</td><td>9</td><td>10</td><td>11</td><td >12</td></tr>
				<tr><td>13</td><td>14</td><td>15</td><td >16</td><td>17</td><td>18</td><td >19</td></tr>
				<tr><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td></tr>
				<tr><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td><td></td><td></td></tr>
			</tbody>
		</table>

		<table class="eve-list" id="mes6" style="display: none;">
		
			<thead>
				<tr class="month"><th colspan="7">
					<span onclick="paginationDecrementCalendar(6)" style="font-weight: bold; cursor: pointer;" /> < </span> 
					Junho de 2012
					<span onclick="paginationIncrementCalendar(6)" style="font-weight: bold; cursor: pointer;" /> > </span>
				</th></tr>
			</thead>
			
			<tbody>
				<tr class="days"><td>dom</td><td>seg</td><td>ter</td><td>qua</td><td>qui</td><td>sex</td><td>sab</td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td>1</td><td>2</td></tr>
				<tr><td>3</td><td >4</td><td >5</td><td>6</td><td>7</td><td>8</td><td >9</td></tr>
				<tr><td>10</td><td>11</td><td>12</td><td >13</td><td>14</td><td>15</td><td >16</td></tr>
				<tr><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td></tr>
				<tr><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td></tr>
			</tbody>
		</table>

		<table class="eve-list" id="mes7" style="display: none;">
		
			<thead>
				<tr class="month"><th colspan="7">
					<span onclick="paginationDecrementCalendar(7)" style="font-weight: bold; cursor: pointer;" /> < </span> 
					Julho de 2012
					<span onclick="paginationIncrementCalendar(7)" style="font-weight: bold; cursor: pointer;" /> > </span>
				</th></tr>
			</thead>
			
			<tbody>
				<tr class="days"><td>dom</td><td>seg</td><td>ter</td><td>qua</td><td>qui</td><td>sex</td><td>sab</td></tr>
				<tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
				<tr><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td></tr>
				<tr><td>15</td><td id="date-4" class="link">16</td><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td></tr>
				<tr><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td></tr>
				<tr><td>29</td><td>30</td><td>31</td><td></td><td></td><td></td><td></td></tr>
			</tbody>
		</table>

		<table class="eve-list" id="mes8" style="display: none;">
		
			<thead>
				<tr class="month"><th colspan="7">
					<span onclick="paginationDecrementCalendar(8)" style="font-weight: bold; cursor: pointer;" /> < </span> 
					Agosto de 2012
					<span onclick="paginationIncrementCalendar(8)" style="font-weight: bold; cursor: pointer;" /> > </span>
				</th></tr>
			</thead>
			
			<tbody>
				<tr class="days"><td>dom</td><td>seg</td><td>ter</td><td>qua</td><td>qui</td><td>sex</td><td>sab</td></tr>
				<tr><td></td><td></td><td></td><td>1</td><td>2</td><td>3</td><td>4</td></tr>
				<tr><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td></tr>
				<tr><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td></tr>
				<tr><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td id="date-5" class="link">25</td></tr>
				<tr><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td><td></td></tr>
			</tbody>
		</table>

		<table class="eve-list" id="mes9" style="display: none;">
		
			<thead>
				<tr class="month"><th colspan="7">
					<span onclick="paginationDecrementCalendar(9)" style="font-weight: bold; cursor: pointer;" /> < </span> 
					Setembro de 2012
					<span onclick="paginationIncrementCalendar(9)" style="font-weight: bold; cursor: pointer;" /> > </span>
				</th></tr>
			</thead>
			
			<tbody>
				<tr class="days"><td>dom</td><td>seg</td><td>ter</td><td>qua</td><td>qui</td><td>sex</td><td>sab</td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td>1</td></tr>
				<tr><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td></tr>
				<tr><td>9</td><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td></tr>
				<tr><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td></tr>
				<tr><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td></tr>
				<tr><td>30</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			</tbody>
		</table>

		<table class="eve-list" id="mes10" style="display: none;">
		
			<thead>
				<tr class="month"><th colspan="7">
					<span onclick="paginationDecrementCalendar(10)" style="font-weight: bold; cursor: pointer;" /> < </span> 
					Outubro de 2012
					<span onclick="paginationIncrementCalendar(10)" style="font-weight: bold; cursor: pointer;" /> > </span>
				</th></tr>
			</thead>
			
			<tbody>
				<tr class="days"><td>dom</td><td>seg</td><td>ter</td><td>qua</td><td>qui</td><td>sex</td><td>sab</td></tr>
				<tr><td></td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td></tr>
				<tr><td >7</td><td >8</td><td>9</td><td>10</td><td>11</td><td >12</td><td>13</td></tr>
				<tr><td>14</td><td>15</td><td >16</td><td>17</td><td>18</td><td >19</td><td>20</td></tr>
				<tr><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td></tr>
				<tr><td>28</td><td>29</td><td>30</td><td>31</td><td></td><td></td><td></td></tr>
			</tbody>
		</table>

		<table class="eve-list" id="mes11" style="display: none;">
		
			<thead>
				<tr class="month"><th colspan="7">
					<span onclick="paginationDecrementCalendar(11)" style="font-weight: bold; cursor: pointer;" /> < </span> 
					Novembro de 2012
					<span onclick="paginationIncrementCalendar(11)" style="font-weight: bold; cursor: pointer;" /> > </span>
				</th></tr>
			</thead>
			
			<tbody>
				<tr class="days"><td>dom</td><td>seg</td><td>ter</td><td>qua</td><td>qui</td><td>sex</td><td>sab</td></tr>
				<tr><td></td><td></td><td></td><td></td><td>1</td><td>2</td><td>3</td></tr>
				<tr><td>4</td><td>5</td><td >6</td><td>7</td><td>8</td><td>9</td><td >10</td></tr>
				<tr><td>11</td><td>12</td><td>13</td><td >14</td><td>15</td><td>16</td><td>17</td></tr>
				<tr><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td></tr>
				<tr><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td></td></tr>
			</tbody>
		</table>

		<table class="eve-list" id="mes12" style="display: none;">
		
			<thead>
				<tr class="month"><th colspan="7">
					<span onclick="paginationDecrementCalendar(12)" style="font-weight: bold; cursor: pointer;" /> < </span> 
					Dezembro de 2012
					<span onclick="paginationIncrementCalendar(12)" style="font-weight: bold; cursor: pointer;" /> > </span>
				</th></tr>
			</thead>
			
			<tbody>
				<tr class="days"><td>dom</td><td>seg</td><td>ter</td><td>qua</td><td>qui</td><td>sex</td><td>sab</td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td>1</td></tr>
				<tr><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td></tr>
				<tr><td>9</td><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td></tr>
				<tr><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td></tr>
				<tr><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td></tr>
				<tr><td>30</td><td>31</td><td></td><td></td><td></td><td></td><td></td></tr>
			</tbody>
		</table>

		<table class="eve-list" id="mes13" style="display: none;">
		
			<thead>
				<tr class="month"><th colspan="7">
					<span onclick="paginationDecrementCalendar(13)" style="font-weight: bold; cursor: pointer;" /> < </span> 
					Janeiro de 2013
					<span onclick="paginationIncrementCalendar(13)" style="font-weight: bold; cursor: pointer;" /> > </span>
				</th></tr>
			</thead>
			
			<tbody>
				<tr class="days"><td>dom</td><td>seg</td><td>ter</td><td>qua</td><td>qui</td><td>sex</td><td>sab</td></tr>
				<tr><td></td><td></td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr>
				<tr><td>6</td><td >7</td><td >8</td><td>9</td><td>10</td><td>11</td><td >12</td></tr>
				<tr><td>13</td><td>14</td><td>15</td><td >16</td><td>17</td><td>18</td><td >19</td></tr>
				<tr><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td></tr>
				<tr><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td><td></td><td></td></tr>
			</tbody>
		</table>

		<table class="eve-list" id="mes14" style="display: none;">
		
			<thead>
				<tr class="month"><th colspan="7">
					<span onclick="paginationDecrementCalendar(14)" style="font-weight: bold; cursor: pointer;" /> < </span> 
					Fevereiro de 2013
					<span onclick="paginationIncrementCalendar(14)" style="font-weight: bold; cursor: pointer;" /> > </span>
				</th></tr>
			</thead>
			
			<tbody>
				<tr class="days"><td>dom</td><td>seg</td><td>ter</td><td>qua</td><td>qui</td><td>sex</td><td>sab</td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td>1</td><td>2</td></tr>
				<tr><td>3</td><td >4</td><td >5</td><td>6</td><td>7</td><td>8</td><td >9</td></tr>
				<tr><td>10</td><td>11</td><td>12</td><td >13</td><td>14</td><td>15</td><td >16</td></tr>
				<tr><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td></tr>
				<tr><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td></td><td></td></tr>
			</tbody>
		</table>

		<table class="eve-list" id="mes15" style="display: none;">
		
			<thead>
				<tr class="month"><th colspan="7">
					<span onclick="paginationDecrementCalendar(15)" style="font-weight: bold; cursor: pointer;" /> < </span> 
					Março de 2013
					<span onclick="paginationIncrementCalendar(15)" style="font-weight: bold; cursor: pointer;" /> > </span>
				</th></tr>
			</thead>
			
			<tbody>
				<tr class="days"><td>dom</td><td>seg</td><td>ter</td><td>qua</td><td>qui</td><td>sex</td><td>sab</td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td>1</td><td>2</td></tr>
				<tr><td>3</td><td >4</td><td >5</td><td>6</td><td>7</td><td>8</td><td >9</td></tr>
				<tr><td>10</td><td>11</td><td>12</td><td >13</td><td>14</td><td>15</td><td >16</td></tr>
				<tr><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td></tr>
				<tr><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td></tr>
				<tr><td>31</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			</tbody>
		</table>
		
		<table class="eve-list" id="mes16" style="display: none;">
		
			<thead>
				<tr class="month"><th colspan="7">
					<span onclick="paginationDecrementCalendar(16)" style="font-weight: bold; cursor: pointer;" /> < </span> 
					Abril de 2013
					<span onclick="paginationIncrementCalendar(16)" style="font-weight: bold; cursor: pointer;" /> > </span>
				</th></tr>
			</thead>
			
			<tbody>
				<tr class="days"><td>dom</td><td>seg</td><td>ter</td><td>qua</td><td>qui</td><td>sex</td><td>sab</td></tr>
				<tr><td></td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td></tr>
				<tr><td >7</td><td >8</td><td>9</td><td>10</td><td>11</td><td >12</td><td>13</td></tr>
				<tr><td>14</td><td>15</td><td >16</td><td>17</td><td>18</td><td >19</td><td>20</td></tr>
				<tr><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td></tr>
				<tr><td>28</td><td>29</td><td>30</td><td></td><td></td><td></td><td></td></tr>
			</tbody>
		</table>


		<table class="eve-list" id="mes17" style="display: none;">
		
			<thead>
				<tr class="month"><th colspan="7">
					<span onclick="paginationDecrementCalendar(17)" style="font-weight: bold; cursor: pointer;" /> < </span> 
					Maio de 2012
					<span onclick="paginationIncrementCalendar(17)" style="font-weight: bold; cursor: pointer;" /> > </span>
				</th></tr>
			</thead>
			
			<tbody>
				<tr class="days"><td>dom</td><td>seg</td><td>ter</td><td>qua</td><td>qui</td><td>sex</td><td>sab</td></tr>
				<tr><td></td><td></td><td></td><td>1</td><td>2</td><td>3</td><td>4</td></tr>
				<tr><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td></tr>
				<tr><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td></tr>
				<tr><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td></tr>
				<tr><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td><td></td></tr>
			</tbody>
		</table>

		<table class="eve-list" id="mes18" style="display: none;">
		
			<thead>
				<tr class="month"><th colspan="7">
					<span onclick="paginationDecrementCalendar(18)" style="font-weight: bold; cursor: pointer;" /> < </span> 
					Junho de 2013
					<span onclick="paginationIncrementCalendar(18)" style="font-weight: bold; cursor: pointer;" /> > </span>
				</th></tr>
			</thead>
			
			<tbody>
				<tr class="days"><td>dom</td><td>seg</td><td>ter</td><td>qua</td><td>qui</td><td>sex</td><td>sab</td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td>1</td></tr>
				<tr><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td></tr>
				<tr><td>9</td><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td></tr>
				<tr><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td id="date-6" class="link">22</td></tr>
				<tr><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td></tr>
				<tr><td>30</td><td>31</td><td></td><td></td><td></td><td></td><td></td></tr>
			</tbody>
		</table>

		<table class="eve-list" id="mes19" style="display: none;">
		
			<thead>
				<tr class="month"><th colspan="7">
					<span onclick="paginationDecrementCalendar(19)" style="font-weight: bold; cursor: pointer;" /> < </span> 
					Julho de 2013
					<span onclick="paginationIncrementCalendar(19)" style="font-weight: bold; cursor: pointer;" /> > </span>
				</th></tr>
			</thead>
			
			<tbody>
				<tr class="days"><td>dom</td><td>seg</td><td>ter</td><td>qua</td><td>qui</td><td>sex</td><td>sab</td></tr>
				<tr><td></td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td></tr>
				<tr><td >7</td><td >8</td><td>9</td><td>10</td><td>11</td><td >12</td><td>13</td></tr>
				<tr><td>14</td><td>15</td><td >16</td><td>17</td><td>18</td><td >19</td><td>20</td></tr>
				<tr><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td></tr>
				<tr><td>28</td><td>29</td><td>30</td><td></td><td></td><td></td><td></td></tr>
			</tbody>
		</table>


		<table class="eve-list" id="mes20" style="display: none;">
		
			<thead>
				<tr class="month"><th colspan="7">
					<span onclick="paginationDecrementCalendar(20)" style="font-weight: bold; cursor: pointer;" /> < </span> 
					Agosto de 2013
				</th></tr>
			</thead>
			
			<tbody>
				<tr class="days"><td>dom</td><td>seg</td><td>ter</td><td>qua</td><td>qui</td><td>sex</td><td>sab</td></tr>
				<tr><td></td><td></td><td></td><td></td><td>1</td><td>2</td><td id="date-7" class="link">3</td></tr>
				<tr><td>4</td><td>5</td><td >6</td><td>7</td><td>8</td><td>9</td><td >10</td></tr>
				<tr><td>11</td><td>12</td><td>13</td><td >14</td><td>15</td><td>16</td><td>17</td></tr>
				<tr><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td></tr>
				<tr><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td></td></tr>
			</tbody>
		</table>

		<a href="#" class="all">Todos os eventos</a>
						
	</div> <!-- END EVENTS -->
	
	<div class="clearfix"></div>
	<script type="text/javascript">
		var MAX_MES = 21;
		var MIM_MES = 3;

		var MAX_EVENTO = 7;
		var MIM_EVENTO = 1;

		function getURLParameter(name) {
		    return decodeURI(
		        (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
		    );
		}

		function paginationIncrementCalendar(id){
			$('#mes' + id ).hide(); 
			$('#mes' + (id+1)).show();
		}

		function paginationDecrementCalendar(id){
			$('#mes' + id ).hide(); 
			$('#mes' + (id-1)).show();
		}

		function showDetail(idEvent){
			for(i = 1; i <= MAX_EVENTO; i++){
				if(i == idEvent){
					$('#date-'+i+'-detail').show();
				} else {
					$('#date-'+i+'-detail').hide();
				}
			}
		}

		jQuery(function($){
			mes = parseInt(getURLParameter("mes"));
			evento =  parseInt(getURLParameter("evento"));

			if(!isNaN(mes) &&
				MAX_MES >= mes && mes >= MIM_MES && 
				!isNaN(evento) &&
				MAX_EVENTO >= evento && evento >= MIM_EVENTO){
				$('#mes' + mes).show();
				$('#date-' + evento).click();
			} else {
				$('#mes17').show();
			}
		});

		
	</script>
				
</div> <!-- END SIDEBAR -->

<div class="page event">

	<div class="loading"></div>
		
	<div id="content">

		<h2>Eventos</h2>  
		<p>Na medida que acontecer algum evento, ou que tivemos uma data com antecedencia de um acontecimento, vamos colocar aqui todas as datas para que vc fique iterado das novidades :).</p>
	
	</div>
		
</div> <!-- END PAGE EVENTS -->