<style type="text/css">

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: white;
}
</style>

<div class="top">
			
	<h2>Conheça nossos padrinhos</h2>

</div> <!-- END TOP -->

<div class="clearfix"></div>

<div class="full">
	<p>
		Agradecemos a todas as pessoas que aceitaram nosso convite para ser nossos padrinhos de casamento. Não existe um mais importante ou menos importante. São pessoas muito especiais em nossas vidas que com certeza estamos muito feliz por compartilhar de mais mais perto esse momento com vocês.
	
		<h3>Primeiro os padrinhos da Talita</h3>
	</p>
	<p>
		<a href="/images/padrinhos/joao_e_nira.jpg" class="imgLeft fancybox"><img src="/images/padrinhos/joao_e_nira.jpg" alt="João e Nira" width="200px"></a>
		<br>-> Tio João e Janira<br/>
		Diretamente da cidade de Campinas, o João é irmão do pai da Talita, o Airton Sack. Muito obrigado por aceitarem ser nossos padrinhos de casamento.
	</p>
	
	
	<p style="text-align: right">
		<a href="/images/padrinhos/edson_e_meri.jpg" class="imgRight fancybox"><img src="/images/padrinhos/edson_e_meri.jpg" alt="Edson e Meri" width="200px"></a>
		Tio Edson e Tia Meri <-<br/>
		Tanto eu quanto o Kleber conhecemos eles faz um bom tempo, logicamente que o Kleber a menos tempo, pois conheceu ele apenas quando veio para a IBNJ. Eles são tios muito queridos e estão nos ajudando muito nesse primeiro momento de nossas vidas. E se preparem pois temos no minimo 1 ano de muita convivencia, conselhos e risadas :). Muito obrigado por aceitarem ser nossos padrinhos de casamento.
	</p>

	<p>
		<a href="/images/padrinhos/maira.jpg" class="imgLeft fancybox"><img src="/images/padrinhos/maira.jpg" alt="Maira" width="200px"></a>
		<br/>-> Maira<br/>
		Diretamente da cidade de Campinas, o João é irmão do pai da Talita, o Airton Sack. Muito obrigado por aceitarem ser nossos padrinhos de casamento.
	</p>

	<p style="text-align: right">
		<a href="/images/padrinhos/eliabe.jpg" class="imgRight fancybox"><img src="/images/padrinhos/eliabe.jpg" alt="Eliabe" width="200px"></a>
		Eliabe <-<br/>
		Tanto eu quanto o Kleber conhecemos eles faz um bom tempo, logicamente que o Kleber a menos tempo, pois conheceu ele apenas quando veio para a IBNJ. Eles são tios muito queridos e estão nos ajudando muito nesse primeiro momento de nossas vidas. E se preparem pois temos no minimo 1 ano de muita convivencia, concelhos e risadas :). Muito obrigado por aceitarem ser nossos padrinhos de casamento.
	</p>

	<p>
		<a href="/images/padrinhos/davi.jpg" class="imgLeft fancybox"><img src="/images/padrinhos/davi.jpg" alt="Davi" width="200px"></a>
		<br/>-> Davi<br/>
		Diretamente da cidade de Campinas, o João é irmão do pai da Talita, o Airton Sack. Muito obrigado por aceitarem ser nossos padrinhos de casamento.
	</p>

	<p style="text-align: right">
		<a href="/images/padrinhos/larissa.jpg" class="imgRight fancybox"><img src="/images/padrinhos/larissa.jpg" alt="Eliabe" width="200px"></a>
		Larissa <-<br/>
		Tanto eu quanto o Kleber conhecemos eles faz um bom tempo, logicamente que o Kleber a menos tempo, pois conheceu ele apenas quando veio para a IBNJ. Eles são tios muito queridos e estão nos ajudando muito nesse primeiro momento de nossas vidas. E se preparem pois temos no minimo 1 ano de muita convivencia, concelhos e risadas :). Muito obrigado por aceitarem ser nossos padrinhos de casamento.
	</p>
	<p>
		<a href="/images/padrinhos/milton_margareth.jpg" class="imgLeft fancybox"><img src="/images/padrinhos/milton_margareth.jpg" alt="Davi" width="200px"></a>
		<br/>-> Milton e Margarete<br/>
		Diretamente da cidade de Campinas, o João é irmão do pai da Talita, o Airton Sack. Muito obrigado por aceitarem ser nossos padrinhos de casamento.
	</p>
	<p style="text-align: right">
		<a href="/images/padrinhos/gabi_isaac.jpg" class="imgRight fancybox"><img src="/images/padrinhos/gabi_isaac.jpg" alt="Eliabe" width="200px"></a>
		Roberto e Luciana <-<br/>
		Tanto eu quanto o Kleber conhecemos eles faz um bom tempo, logicamente que o Kleber a menos tempo, pois conheceu ele apenas quando veio para a IBNJ. Eles são tios muito queridos e estão nos ajudando muito nesse primeiro momento de nossas vidas. E se preparem pois temos no minimo 1 ano de muita convivencia, concelhos e risadas :). Muito obrigado por aceitarem ser nossos padrinhos de casamento.
	</p>

	<br/><br/>
	<p>
		<h3>Agora os do Kleber</h3>
	</p>
	<p>
		<a href="/images/padrinhos/gil_paula.jpg" class="imgLeft fancybox"><img src="/images/padrinhos/gil_paula.jpg" alt="João e Nira" width="200px"></a>
		<br>-> Junior e Paula<br/>
		O Jr. é meu irmão desde 23 de setembro de 1987 e desde lá isso nunca mudou e nunca mudará. Alêm de irmão sempre estivemos juntos em varias aventuras e acontecimento, sejam eles ruins ou bons, mas sempre juntos. Teria N histórias para contar, mas ele sabe o quão importante ele é na minha vida e que sempre será importe. Agora com a Paula, ela vem ganhando seu espaço como noiva do Junior e grande amiga nossa. Obrigado a vocês dois por aceitarem nosso convite de padrinho e nos ajudarem a contruir nossa família.
	</p>
	
	
	<p style="text-align: right">
		<a href="/images/padrinhos/bruno_leticia.jpg" class="imgRight fancybox"><img src="/images/padrinhos/bruno_leticia.jpg" alt="Edson e Meri" width="200px"></a>
		Bruno e Leticia <-<br/>
		Não somente padrinhos de casamento na cerimonia mas também testemunhas do casamento civil, vocês tem uma grande importancia no nosso relacionamento. Com o passar do tempo temos visto a exeriencia de vocês como casal e aprendido com ela também, no que da certo e no que não da certo fazer e assim construirmos uma casa firme com Deus. Agora com a Bianca tb para trazer alegria a esses tios que agradecem muito o convite aceito por vocês para serem nossos padrinhos de casamento civil e religioso. Obrigado.
	</p>

	<p >
		<a href="/images/padrinhos/lucas_priscila.jpg" class="imgLeft fancybox"><img src="/images/padrinhos/lucas_priscila.jpg" alt="Eliabe" width="200px"></a>
		<br>-> Lucas e Priscila<br/>
		É tia... como você mesma disse, ninguem mandou ficar levando todos os sobrinhos ao parque de diversão sempre! heehehe... Muito longe de ser apenas por isso que convidei vocês para serem nossos padrinhos. Sempre olhamos para vocês como exemplo de relacionamento juntando e equilibrando as emoções na medida correta para sempre seguirem pela vontade de Deus. Vocês sempre estiveram perto da minha vida e agradeço imensamente por estarem novamente juntos nesse momento. Obrigado.
	</p>

	<p style="text-align: right">
		<a href="/images/padrinhos/cassio.jpg" class="imgRight fancybox"><img src="/images/padrinhos/cassio.jpg" alt="Eliabe" width="200px"></a>
		Cassio <-<br/>
		Representando os primos por parte de pai mas não apenas só por isso. Na medida que fui crescendo percebi que fui me aproximando mais da familia e trocando mais ideias com você e o Ciro. Aprendendo a conversar e compartilhar as mais diversas desde planejamentos para vida como de música. Você e a Aline nos passam bastante traquilidade como casal e me faz querer ter um casamento tranquilo também. Obrigado por aceitar o convite e agradeço muito a Aline por te "emprestar" um pouco para entrar com sua mãe. Obrigado.
	</p>
	<p>
		<a href="/images/padrinhos/cenilda.jpg" class="imgLeft fancybox"><img src="/images/padrinhos/cenilda.jpg" alt="Davi" width="200px"></a>
		<br/>-> Tia Cenilda<br/>
		Esteve presente em todos os momentos importantes de minha vida e sempre demonstrou extremo carinho e atenção pelos acontecimentos que nela se passaram. Mae do Cassio e tia companheira. Sou muito grato a Deus pela sua vida e por você ter aceitado prontamente nosso convite. Você é muito especial na minha vida. Obrigado.
	</p>

	<p style="text-align: right">
		<a href="/images/padrinhos/rodrigo_luciana.jpg" class="imgRight fancybox"><img src="/images/padrinhos/rodrigo_luciana.jpg" alt="Davi" width="200px"></a>
		Rodrigo e Luciana <-<br/>
		Como falar do Rodrigo... primeiro amigo da minha vida com uma amizade que preciste mesmo com a distância ao longo de quase 25 anos de amizade. Lembro dos dias que passava na casa dele brincado até não poder mais (Obrigado Irmã Maria Anunciação, mãe do Rodrigo, que proporcionou momentos impares na minha vida) ou até mesmo de ficar horas e horas na igreja fazendo barulho. Você sabe da importancia da sua amizade na minha vida e agradeço a Deus por saber que posso contar com você e sua amizade onde que que eu esteja. Preservo muito isso pois sei que é um beneficios para poucos. Luciana com todo seu jeito "doida" de ser já é uma grande amiga nossa a qual consideramos muito e gostamos muito de estar na presença. Muito obrigado a vocês por aceitarem nosso convite :D
	</p>

	<p >
		<a href="/images/padrinhos/ricardo_solange.jpg" class="imgLeft fancybox"><img src="/images/padrinhos/ricardo_solange.jpg" alt="Maira" width="200px"></a>
		<br>-> Ricardo e Solange<br/>
		Grandes amigos feitos no tempo de Igreja Batista Nova Jerusalem, juntos nos momentos de alegria e sempre passando momentos agradaveis com vocês. Obrigado pela amizade de vocês e obrigado por serem um exemplo de casal que luta junto mesmo com qualquer tipo de problema. Ficamos bem felizes quando vocês aceitaram nosso convite de padrinhos de casamento e tenho certeza que ainda vamos compartilhar muitos momentos de alegrias junto de vocês. Obrigado.
	</p>

	

	

</div> <!-- END PAGE -->
							
<div class="clearfix"></div>