<%- if !Categoria.all.empty? %>

	<div class="catg">

		<h3>Categorias</h3>
		
		<ul class="catg-list">
			<% Categoria.all.each do |categoria|%>
				<li>  <%= link_to "#{categoria.nome} (#{Post.where(:categoria_id => categoria.id, :publicado => true).size()})" , category_blog_path(categoria) %></li>	
			<% end %>
		</ul>

	</div> <!-- END CATEGORIES -->

	<div class="clearfix"></div>
<% end %>