<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="pt" style="margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;">
<head>
       <meta charset="utf-8">
       <title>Kleber e Talita</title>
       
<!-- STYLESHEET -->

<script src="http://kleberetalita.com/assets/application-64da380eb47c5bc58410d3bb25b51bbc.js" type="text/javascript"></script>

</head>
<body style="margin: 0;padding: 0;border: 0;outline: 0;font-size: 13px;vertical-align: baseline;background: url(http://kleberetalita.com/images/bg.jpg) repeat;line-height: 1.7;font-family: 'Droid Sans', Helvetica Neue, Arial, sans-serif;">

  <table style="padding: 0px; margin: 0px;">
    <tr>
      <td style="margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: url(http://kleberetalita.com/images/header/header-bg.jpg) no-repeat;display: block;width: 960px;height: 125px;position: relative;">
    
            <h1 class="logo" style="margin: 45px 0 0 30px;padding: 0;border: 0;outline: 0;font-size: 35px;vertical-align: middle;background: transparent;font-weight: 400;font-family: 'Allura', cursive;color: #fff;float: left;"><a href="http://kleberetalita.com" class="active" style="outline: none;margin: 0;padding: 0;font-size: 100%;vertical-align: baseline;background: transparent;"><img src="http://kleberetalita.com/images/custom/kleber_talita_logo.png" height="50px" style="margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;"></a></h1>
      </td>
    </tr>
    <tr>
      <td style="margin: 0;padding: 25px;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: #f2f2f2;width: 960px;height: 85px;position: relative;">
      
            <h2 style="margin: 0;padding: 0;border: 0;outline: 0;font-size: 20px;vertical-align: baseline;background: transparent;font-weight: 400;color: #888888;position: absolute;top: 25px;left: 30px;">Conato do site</h2>

      </td>
    </tr>
    <tr>
      <td>


        <div class="full" style="margin: 30px 0 0 30px;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;width: 900px;">
          

        <p style="margin: 20px 0 30px 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;color: #797979;line-height: 1.8;text-align: justify;">
          <b>E-mail:</b> <%= @email %>
          <b>Assunto:</b> <%= @assunto %>
          <b>Mensagem:</b> <%= @mensagem %>
        </p>

      </div> <!-- END PAGE -->


      </td>
    </tr>
    

  </table>
</body>
</html>