<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="pt" style="margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;">
<head>
       <meta charset="utf-8">
       <title>Kleber e Talita</title>
       
<!-- STYLESHEET -->

<script src="http://kleberetalita.com/assets/application-64da380eb47c5bc58410d3bb25b51bbc.js" type="text/javascript"></script>

</head>
<body style="margin: 0;padding: 0;border: 0;outline: 0;font-size: 13px;vertical-align: baseline;background: url(http://kleberetalita.com/images/bg.jpg) repeat;line-height: 1.7;font-family: 'Droid Sans', Helvetica Neue, Arial, sans-serif;">

  <table style="padding: 0px; margin: 0px;">
    <tr>
      <td style="margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: url(http://kleberetalita.com/images/header/header-bg.jpg) no-repeat;display: block;width: 960px;height: 125px;position: relative;">
    
            <h1 class="logo" style="margin: 45px 0 0 30px;padding: 0;border: 0;outline: 0;font-size: 35px;vertical-align: middle;background: transparent;font-weight: 400;font-family: 'Allura', cursive;color: #fff;float: left;"><a href="http://kleberetalita.com" class="active" style="outline: none;margin: 0;padding: 0;font-size: 100%;vertical-align: baseline;background: transparent;"><img src="http://kleberetalita.com/images/custom/kleber_talita_logo.png" height="50px" style="margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;"></a></h1>
      </td>
    </tr>
    <tr>
      <td style="margin: 0;padding: 25px;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: #f2f2f2;width: 960px;height: 85px;position: relative;">
      
            <h2 style="margin: 0;padding: 0;border: 0;outline: 0;font-size: 20px;vertical-align: baseline;background: transparent;font-weight: 400;color: #888888;position: absolute;top: 25px;left: 30px;">Madrinhas... preparem-se!</h2>

      </td>
    </tr>
    <tr>
      <td>


        <div class="full" style="margin: 30px 0 0 30px;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;width: 900px;">
          <h2 class="pageheader" style="margin: 0;padding: 0;border: 0;outline: 0;font-size: 20px;vertical-align: baseline;background: transparent;font-weight: 400;color: #515151;margin-bottom: 10px;">Olá Madrinhas ! </h2> <p style="margin: 20px 0 30px 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;color: #797979;line-height: 1.8;text-align: justify;">Primeiramente eu e o Kleber agradecemos por terem aceitado o nosso convite com prontidão e alegria, é um prazer tê-las ao nosso lado nesse momento que estamos vivenciando :)</p> 

        <p style="margin: 20px 0 30px 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;color: #797979;line-height: 1.8;text-align: justify;">Acredito que todas vocês estão ciente que usarão uma cor similar, certo?! Com isso, estamos enviando esse e-mail  para visualizarem melhor a cor do vestido de madrinha para usarem no dia da cerimônia. Esperamos que gostem !
O modelo e o tom da cor será conforme a sua preferência, gosto e o que lhe deixará linda e maravilhosa. Queremos todas vocês lindas, elegantes e se sentindo bem.<br/>
Em relação ao modelo só pedimos que não utilizem: tomara que caia (caso for, utilizar o echarpe para cobrir os ombros durante a cerimônia) também não usarem um modelo de vestido muito decotado ou com um rasgo na perna muito pra cima, pois no dia terá uma escada para subir e os degraus são altinhos...rs</p> 

        <p style="margin: 20px 0 30px 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;color: #797979;line-height: 1.8;text-align: justify;">O PDF em anexo tem alguns modelos que  podem observar a cor que gostaria que vocês utilizassem!</p>

        <p style="margin: 20px 0 30px 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;color: #797979;line-height: 1.8;text-align: justify;">Além disso, provavelmente faremos dois ensaios para saberem como será a cerimônia e o local onde cada casal ficará, mas isso será mais para frente...com certeza serão avisadas o dia que estaremos agendando.</p> 

        <p style="margin: 20px 0 30px 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;color: #797979;line-height: 1.8;text-align: justify;">Ahh...o Chá Bar está agendado para o dia 22/06 , o horário e o local ainda estamos vendo...mas assim que definirmos vocês serão avisadas.</p> 

        <p style="margin: 20px 0 30px 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;color: #797979;line-height: 1.8;text-align: justify;"><b>Como vocês sabem o casamento está agendado para o dia 03/08/2013 (sábado) às 19h, pedimos que no dia estejam nesse horário para que possamos começar a cerimônia às 19h15 pontualmente.</b></p> 

        <p style="margin: 20px 0 30px 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;color: #797979;line-height: 1.8;text-align: justify;">Se tiverem dúvida em relação a qualquer coisa eu e o Kleber estamos a disposição...rs. </p>

        <p style="margin: 20px 0 30px 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;color: #797979;line-height: 1.8;text-align: justify;">Beijos e fiquem com Deus.</p>

      </div> <!-- END PAGE -->


      </td>
    </tr>
    <tr>
      <td style="margin: 10px 0 0 0;padding: 25px; padding-left: 10px;border: 0; outline: 0;font-size: 100%;vertical-align: baseline;background: url(http://kleberetalita.com/images/newsletter/newsletter-bg.jpg) no-repeat;width: 960px;height: 111px;position: relative;">
        <table>
          <tr>

           <p style="margin-left: 0px; padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;line-height: 1.8;text-align: justify;">
            <ul style="color: #CDB7B5; ">
              <li > Não deixe de acessar nosso site em <a href="http://www.kleberetalita.com" style="color: #CDB7B5;"/>http://www.kleberetalita.com</a></li>
              <li>Se você ainda não deixou seu recado em nosso site, não perca tempo e  <a href="http://kleberetalita.com/blog/15/view" style="color: #CDB7B5;">clique aqui</a>  para deixar...ficaremos felizes em ler a sua mensagem !!</li>
            </ul>

            </br>
             </br>

          </p>
          </tr>
        </table>
         
      </td>
    </tr>

  </table>
</body>
</html>