<div style="padding-left: 30px">
	<h1>Editando usuario</h1>

	<%= render 'form' %>

	<%= link_to 'Editar', edit_usuario_path(@usuario)%> |
	<%= link_to 'Voltar', edit_usuario_path(@usuario) %>

</div>
