<div class="bookatable">
		
	<h2>"O SENHOR é o meu pastor, nada me faltará." Salmos 23:1</h2>
	
	<!--<a href="contact.php" class="button-large orange">Book a table</a>-->

</div> <!-- END BOOK A TABLE -->