<div class="events">
		
	<h2 class="events-head">Próximos Eventos</h2>
	
	<ul class="events-list">
		<li>
			<a href="/events/list?mes=4&evento=2">
				<span class="date"><strong>21</strong>abr/12</span>
				<h2>Noivado</h2>
			</a>
		</li>
		<li>
			<a href="/events/list?mes=18&evento=6">
				<span class="date"><strong>22</strong>jun/13</span>
				<h2>Cha Bar</h2>
			</a>
		</li>
		<li>
			<a href="/events/list?mes=20&evento=7">
				<span class="date"><strong>03</strong>ago/13</span>
				<h2>Casamento</h2>
			</a>
		</li>
	</ul> <!-- END EVENTS LIST -->
	
</div> <!-- END EVENTS -->