<!--
<div class="ft-box meetteam">

	<h2>Meet the team</h2>
	
	<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla.</p>
	
	<a href="#">Meet the team &rarr;</a>
	
</div> <!-- END MEET THE TEAM --

<div class="ft-box hours">

	<h2>Opening Hours</h2>

	<table>
		<tbody>
			<tr><td class="day">MON</td><td>11.00 - 14.00 &#38; 18.00 - 22.00</td></tr>
			<tr class="even"><td class="day">TUE</td><td>11.00 - 14.00 &#38; 18.00 - 22.00</td></tr>
			<tr><td class="day">WED</td><td>closed</td></tr>
			<tr class="even"><td class="day">THU</td><td>closed &#38; 18.00 - 22.00</td></tr>
			<tr><td class="day">FRI</td><td>11.00 - 14.00 &#38; 17.00 - 22.00</td></tr>
			<tr class="even"><td class="day">SAT</td><td>closed &#38; 18.00 - 22.00</td></tr>
			<tr><td class="day">SUN</td><td>10.00 - 15.00 &#38; 18.00 - 21.00</td></tr>
		</tbody>
	</table>

</div> <!-- END OPENING HOURS --

<div class="ft-box map">

	<h2>Come visit us</h2>
	
	<div class="mapbox">
	
		<iframe width="270" height="114" src="http://maps.google.be/maps?f=q&amp;source=s_q&amp;hl=nl&amp;geocode=&amp;q=Broadway,+New+York,+NY,+USA&amp;aq=0&amp;sll=50.967069,4.506993&amp;sspn=0.015743,0.024784&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=Broadway,+New+York,+Verenigde+Staten&amp;ll=40.742377,-73.989463&amp;spn=0.018926,0.024784&amp;t=m&amp;z=14&amp;output=embed"></iframe>
	
	</div>

</div> <!-- END MAP -->


<div class="credits">

	<p>Copyrights 2011 <a href="#">Exquisito Theme</a> by <a href="http://nielsdecraecker.be" target="_blank">Niels De Craecker</a></p>


</div>