<div class="fromblog">
		
	<h2 class="fromblog-head">Os ultimos post do nosso blog!!</h2>
	
	<ul class="fromblog-slides">

		<% @last_posts.each do |post|%>	

			<li>
				<h2><%= post.titulo %></h2>
				<p><%= post.descricao %> <br/><br/> <%= link_to "Leia mais ¬",  view_blog_path(post), :class=> "link" %></p>
				<%= image_tag  "#{post.picture3}", :size => "150x120"  %>
			</li>

		<% end %>
		
	</ul> <!-- END FROMBLOG-SLIDES -->
	
	<ul class="fromblog-pager">
		<li><a href="#" id="blog_prev" class="prev">Prev</a></li>
		<li><a href="#" id="blog_next" class="next">Next</a></li>
	</ul>

</div> <!-- END FROM THE BLOG -->