<div class="fromblog">
		
	<h2 class="fromblog-head">Vendo o Canadá de bem longe</h2>
	
	<ul class="fromblog-slides">
		<li>
			<h2>Contato com a Maria João</h2>
			<p>Ontem (24/02/2012) decidimos que vamos fazer a entrevista junto com a <a href="http://www.mjconsultoria.com.br/"> MJ Consultoria</a> pra saber quais são as reais possibilidades de nós conseguirmos a nossa cidadania <br/><br/><a href="blog.html" class="link" >Leia mais &rarr;</a></p>
			<img src="/images/blog_custom/bandeira_canada.gif" width="200px" alt="Brownies">
		</li>
		<!--
		<li>
			<h2>Olives</h2>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <a href="blog.html">Read More &rarr;</a></p>
			<img src="images/blog/home-thumb2.jpg" alt="Olives">
		</li>
		<li>
			<h2>The secret of sugar</h2>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <a href="blog.html">Read More &rarr;</a></p>
			<img src="images/blog/home-thumb3.jpg" alt="Sugar">
		</li>
		-->
	</ul> <!-- END FROMBLOG-SLIDES -->
	
	<ul class="fromblog-pager">
		<li><a href="#" id="blog_prev" class="prev">Prev</a></li>
		<li><a href="#" id="blog_next" class="next">Next</a></li>
	</ul>

</div> <!-- END FROM THE BLOG -->