<nav class="header">
		
	<h1 class="logo"><img src="/images/custom/kleber_talita_logo.png" height="50px"/></h1>
	
	<ul class="mainnav">
		<li><a href="/" class="active">Home</a>
			<!--
			<ul class="subnav">
				<li><a href="index2.html">Nivo Slider</a></li>
			</ul>
			-->
		</li>
		<li><a href="#">Sonhos</a>
			<ul class="subnav">
				<li><a href="#">Casamento</a></li>
				<li><a href="#">Canadá</a></li>
				<li><a href="#">Formatura</a></li>
			</ul>
		</li>
		<li><a href="/events/list">Eventos</a></li>
		<li><a href="blog.html">Blog</a>
			<ul class="subnav">
				<li><a href="/blog/list?user=Kleber e Talita"><3 Conjunto <3</a></li>
				<li><a href="/blog/list?user=Kleber">Kleber</a></li>
				<li><a href="/blog/list?user=Talita">Talita</a></li>
				<!--<li><a href="blog-2.html">Blog style 2</a></li>-->
			</ul>
		</li>
		<li><a href="#">Sobre</a>
			<ul class="subnav">
				<li><a href="#">Nós</a></li>
				<li><a href="#">Kleber</a></li>
				<li><a href="#">Talita</a></li>
			</ul>
		</li>
		<li><a href="#">Contato</a></li>
		<%- if user_signed_in?  %>
			<%- if current_user.email == "kleberpinel@gmail.com" || current_user.email == "talita_sack@hotmail.com" %>
				<li><a href="#">Admin</a>
					<ul class="subnav">
						<li><a href="/posts/">Gerenciar Posts</a></li>
						<li><a href="/categoria/">Gerenciar Categoria</a></li>
					</ul>
				</li>
			<% end %>
		<% end %>
	</ul><!-- END MAIN NAVIGATION -->
	<div id="user_nav">
		<% if user_signed_in? %>
		Logado como  <%= current_user.email %>. Não é você?
		<%= link_to "Deslogar", destroy_user_session_path%>
		<% else %>
			<%= link_to "Cadastrar", new_user_registration_path %> or <%= link_to "Logar", new_user_session_path %>.
		<% end %>
	</div>
</nav> <!-- END HEADER -->