<nav class="header">
		
	<h1 class="logo"><img src="/images/custom/kleber_talita_logo.png" height="50px"/></h1>
	
	<ul class="mainnav">
		<li><a href="/" class="active">Home</a>
			<ul class="subnav">
				<li><a href="/">Somos nós</a></li>
				<!--<li><a href="index2.html">Nivo Slider</a></li>-->
			</ul>
		</li>
		<li><a href="#">Sonhos</a>
			<ul class="subnav">
				<li><a href="menu_breakfast.html">Casamento</a></li>
				<li><a href="menu_lunch.html">Canadá</a></li>
				<li><a href="menu_dinner.html">Formatura</a></li>
			</ul>
		</li>
		<li><a href="/events/list">Eventos</a></li>
		<li><a href="blog.html">Blog</a>
			<ul class="subnav">
				<li><a href="/blog/list?user=kleber">Kleber</a></li>
				<li><a href="/blog/list?user=talita">Talita</a></li>
				<li><a href="/blog/list?user=nois"><3 Conjunto <3</a></li>
				<!--<li><a href="blog-2.html">Blog style 2</a></li>-->
			</ul>
		</li>
		<li><a href="#">Sobre</a>
			<ul class="subnav">
				<li><a href="about.html">Kleber</a></li>
				<li><a href="page-full.html">Talita</a></li>
			</ul>
		</li>
		<li><a href="contact.php">Contato</a></li>
	</ul><!-- END MAIN NAVIGATION -->

</nav> <!-- END HEADER -->