<div class="newsletter">
		
	<h2>Assine nossa newsletter</h2>
	<input type="text" id="text" class="txt" placeholder="E-mail">
	<button name="submit" type="submit" class="button-large orange btn">Enviar</button>

</div> <!-- END NEWSLETTER -->