<div class="slider">
		
	<ul class="slides">
		<li>
			<img src="/images/custom/slider/noivado.png" alt="Noivado">
			<h2 class="title" onclick="location.href='/blog/1/view'" style="cursor:pointer">Noivado surpresa!</h2>
		</li>
		<li >
			<img src="/images/custom/slider/kleber_e_talita.jpg" alt="Nós dois">
			<h2 class="title">Natal na Paulista</h2>
		</li>
		
		
	</ul><!-- END SLIDES -->

	<ul class="slides-pager">
		<li><a href="#" id="slide_prev" class="prev">&#60;</a></li>
		<li><a href="#" id="slide_next" class="next">&#62;</a></li>
	</ul>

</div> <!-- END SLIDER -->