<div class="welcome">
		
	<h3>Bemvindo</h3>
	
	<p>
		Olá. Eu sou o Kleber. Eu vou escrever o máximo que eu conseguir aqui contando sobre nossa história, como as coisas começaram e como as coisas estão. Nossos planejamentos, preparativos para casamento e as muitas coisas que temos em mente.</p>

	<p>
		Não esqueça de passar na nossa <a href="/blog/15/view">pagina de recados</a> deixando a sua mensagem para nós :<br>
		Clique <a href="/blog/15/view">aqui</a> para deixar seu recado.
	</p>
	<br>
					
	<div class="chef">
	
		<span class="header"></span>
	
		<ul class="chef-slides">
			<li>Deus</li>
			<li>Família</li>
			<li>Punta Cana</li>
			<li>Canada</li>
		</ul>
		
		<ul class="chef-pager">
			<li><a href="#" id="chef_prev" class="prev">Prev</a></li>
			<li><a href="#" id="chef_next" class="next">Next</a></li>
		</ul>
		
	</div> <!-- END CHEF'S CHOICE -->

</div> <!-- END WELCOME -->

<div class="page contact">
		
	<a href="/events/gift" style="margin: 0px"><img src="/images/arte_01.jpg" alt="Presentão"></a>
	
</div>

<div class="sidebar" style="margin-left: 28px">
		
	<h3 class="info-head">R.S.V.P.</h3>
	
	<ul class="address">
		<li>Confirme sua presença abaixo:</li>
		<li class="contact" style="height: 200px">
			<form id="contact-us" action="#" method="post">
				<div class="formblock">
					<label class="screen-reader-text">Nome na tag do convite</label>
					<input type="text" name="contactName" id="contactName" class="txt requiredField" placeholder="Nome na tag do convite" style="width:222px; margin-top: 20px">
				</div>
				<div class="formblock">
					<label class="screen-reader-text">Codigo recebido por email</label>
					<input type="text" name="contactName" id="contactName" class="txt requiredField" placeholder="Numero do seu telefone com DDD" style="width:222px">
				</div>
				<button name="submit" type="submit" class="button-large orange btn" style="margin: -10px; margin-right: 10px">Confirmar</button>				
			</form>  <!-- END FORM -->	

		</li>
	</ul>
	
</div>