<%if @error_msg.to_s != "" %>
	<div class="full shortcodes">
		<span class="box red" id="flash_alert"><%= @error_msg %></span>
	</div>
<% end %>
<% flash.each do |name, msg| %>
	<div class="full shortcodes">
		<%= content_tag :span, msg, :class => "box green", :id => "flash_#{name}" %>
	</div>
<% end %>
<div class="welcome">

	<h3>Bem-vindo</h3>
	
	<p>
		Olá. Eu sou o Kleber. Eu vou escrever o máximo que eu conseguir aqui contando sobre nossa história, como as coisas começaram e como as coisas estão. Nossos planejamentos, preparativos para casamento e as muitas coisas que temos em mente.</p>

	<p>
		Não esqueça de passar na nossa <a href="/blog/15/view">pagina de recados</a> deixando a sua mensagem para nós :<br>
		Clique <a href="/blog/15/view">aqui</a> para deixar seu recado.
	</p>
	<br>
					
	<div class="chef">
	
		<span class="header"></span>
	
		<ul class="chef-slides">
			<li>Deus</li>
			<li>Família</li>
			<li>Punta Cana</li>
			<li>Canada</li>
		</ul>
		
		<ul class="chef-pager">
			<li><a href="#" id="chef_prev" class="prev">Prev</a></li>
			<li><a href="#" id="chef_next" class="next">Next</a></li>
		</ul>
		
	</div> <!-- END CHEF'S CHOICE -->

</div> <!-- END WELCOME -->

<div class="page contact">
		
	<a href="/events/gift" style="margin: 0px"><img src="/images/arte_01.jpg" alt="Presentão"></a>
	
</div>
<style type="text/css">
	.box_ou {
		text-align: center;
		height: 20px;
		margin: 0px;
		line-height: 1px;
		padding-right: 30px;
		padding: 0px;
		margin-top: 70px;
	}	
</style>

<div class="sidebar" style="margin-left: 28px">
		
	<h3 class="info-head">R.S.V.P.</h3>
	
	<ul class="address">
		<li>Confirme sua presença abaixo:</li>
		<li class="contact" style="height: 250px">
			<form id="contact-us" action="/confirmacao_presenca/step1" method="post">
				<div class="formblock">
					<label class="screen-reader-text">Nome na tag do convite</label>
					<input type="text" name="nome_convite" id="nome_convite" class="txt requiredField" placeholder="Nome IDENTICO a tag do convite" style="width:222px; margin-top: 20px">
				</div>
				
				<button name="submit" type="submit" class="button-large orange btn" style="margin: -10px; margin-right: 10px">Confirmar</button>				
				<div class="formblock box_ou">
					OU
				</div>
				<div style="padding: 10px; text-align: center; font-size: 15px">
					<p  style="line-height: 1;">Envie um e-mail para <b>kleberetalita@gmail.com</b> para confirmar presença</p>
				</div>
				<!--
				<div class="formblock">
					<label class="screen-reader-text">Codigo recebido por email</label>
					<input type="text" name="contactName" id="contactName" class="txt requiredField" placeholder="Numero do seu telefone com DDD" style="width:222px">
				</div>
				-->
			</form>  <!-- END FORM -->	

		</li>
	</ul>
	
</div>