<div class="welcome">
		
	<h3>Bemvindo</h3>
	
	<p>Olá. Eu sou o Kleber. Eu vou escrever o máximo que eu conseguir aqui contando sobre nossa história, como as coisas começaram e como as coisas estão. Nossos planejamentos, preparativos para casamento e as muitas coisas que temos em mente.</p>
				
	<div class="chef">
	
		<span class="header"></span>
	
		<ul class="chef-slides">
			<li>Deus</li>
			<li>Estudar ExtJS</li>
			<li>Lorentz Wettre</li>
			<li>SGPF</li>
			<li>iG</li>
		</ul>
		
		<ul class="chef-pager">
			<li><a href="#" id="chef_prev" class="prev">Prev</a></li>
			<li><a href="#" id="chef_next" class="next">Next</a></li>
		</ul>
		
	</div> <!-- END CHEF'S CHOICE -->

</div> <!-- END WELCOME -->