<div class="top">
		
	<h2><%= @blog_name %></h2>

</div> <!-- END TOP -->

<div class="clearfix"></div>

<div class="page blog">
			
	<ul class="blog-second">
	
		<li>
			<a href="blog-single.html" class="title">Spaghetti festival</a>
			<span class="date"><strong>13</strong>jan</span>
			<a href="/images/slider/slider-image1.jpg" class="img fancybox"><img src="/images/blog/blog-post-1.jpg" alt="Blog post image"></a>
			<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus.</p>
			<a href="blog-single" class="readmore">Read More &rarr;</a>
		</li>
		
		<li>
			<a href="blog-single.html" class="title">Sushi surprise</a>
			<span class="date"><strong>11</strong>jan</span>
			<a href="/images/slider/slider-image1.jpg" class="img fancybox"><img src="/images/blog/blog-post-2.jpg" alt="Blog post image"></a>
			<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus.</p>
			<a href="blog-single" class="readmore">Read More &rarr;</a>
		</li>
		
		<li>
			<a href="blog-single.html" class="title">The Royal Wedding</a>
			<span class="date"><strong>10</strong>jan</span>
			<a href="/images/slider/slider-image1.jpg" class="img fancybox"><img src="/images/blog/blog-post-3.jpg" alt="Blog post image"></a>
			<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus.</p>
			<a href="blog-single" class="readmore">Read More &rarr;</a>
		</li>
	</ul>
	
	<a href="#" class="arrow left">&larr; Older posts</a>
				
</div> <!-- END PAGE -->

<div class="sidebar blog-side">

	<div class="catg">
	
		<h3>Categories</h3>
		
		<ul class="catg-list">
			<li><a href="#">Recipies (5)</a></li>
			<li><a href="#">Restaurant (3)</a></li>
			<li><a href="#">Weddings (6)</a></li>
			<li><a href="#">BBQ (2)</a></li>
		</ul>
	
	</div> <!-- END CATEGORIES -->
	
	<div class="clearfix"></div>
	
	<div class="tags">
	
		<h3>Tags</h3>
		
		<ul class="tags-list">
			<li><a href="#">meat</a></li>
			<li><a href="#">fish</a></li>
			<li><a href="#">corn</a></li>
			<li><a href="#">bread</a></li>
			<li><a href="#">clamps</a></li>
			<li><a href="#">party</a></li>
			<li><a href="#">music</a></li>
			<li><a href="#">sushi</a></li>
			<li><a href="#">pasta</a></li>
		</ul>
	
	</div> <!-- END TAGS -->
	
	<div class="clearfix"></div>
	
	<div class="comments">
	
		<h3>Latest Comments</h3>
		
		<ul class="comm-list">
			<li>John D.<a href="#">Spaghetti festival</a></li>
			<li>Max P.<a href="#">Sushi surprise</a></li>
			<li>Astrid L.<a href="#">Evening Star</a></li>
		</ul>
	
	</div> <!-- END COMMENTS -->
	
	<div class="video">
	
		<h3>Check this out</h3>
		
		<iframe src="http://player.vimeo.com/video/27243869?color=ffffff" width="280" height="150" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	
	</div> <!-- END COMMENTS -->

</div> <!-- END SIDEBAR -->