/*

	ThemeName: Exquisito
	Author: Niels De Craecker
	Website: http://nielsdecraecker.be
	Type: HTML/CSS
	Version: 1.0


*/

/* -------------------------------------------
	RESET	
------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size: 100%;vertical-align:baseline;background:transparent;} body {line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;} blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;} a {margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;} ins {background-color:#ff9;color:#000;text-decoration:none;}
mark {background-color:#ff9;color:#000; font-style:italic;font-weight:bold;} del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted;cursor:help;} table {border-collapse:collapse;border-spacing:0;} hr {display:block;height:1px;border:0;   border-top:1px solid #cccccc;margin:1em 0;padding:0;} input, select {vertical-align:middle;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}

/*--------------------------------------------
	BASE
--------------------------------------------*/

body {background: url(../images/bg.jpg) repeat;font-family: 'Droid Sans', Helvetica Neue, Arial, sans-serif;font-size: 13px;line-height: 1.7;}
.main {background: #fff;margin: 0 auto;margin-top: 30px;width: 960px;position: relative;box-shadow: 0px 0px 10px #cecece;}
.clearfix {clear: both;display: block;}
a {outline: none;}
.loading {background: url(../images/loading.gif) center no-repeat; height: 18px;}
.imgLeft {float: left;margin: 20px 20px 0 0;border: 5px solid #f2f2f2;display: block;-moz-border-radius: 3px;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease;-ms-transition: all .3s ease;
transition: all .3s ease;}
.imgLeft:hover {border: 5px solid #d2d2d2;}
.imgLeft img {display: block;}
a:hover {color: #fc5a2a !important;}

/*--------------------------------------------
	SHORTCODES
--------------------------------------------*/

.button-large {width: 160px;height: 56px;display: block;background: url(../images/buttons.png) no-repeat;text-align: center;font-size: 15px;color: #fff;line-height: 3.8;text-decoration: none;text-shadow: 1px 1px 0px #000;}
.button-large.orange {background-position: top left;}
.button-large.orange:hover {background-position: 0px -56px; color: #fff !important; cursor: pointer;}

/* HEADERS */

h1, h2, h3, h4, h5, h6 {font-weight: 400;}
h1 {font-size: 24px;}
h2 {font-size: 22px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}

/* BOXES */

.box {width: 100%;line-height: 3.7; display: block;color: #fff;height: 40px;margin-bottom: 20px; position: relative; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; font-family: Helvetica-Neue, Arial, sans-serif; font-size: 11px;text-indent: 40px;}
.box-close {position: absolute;top: 10px;right: 10px;color: #fff !important;width: 20px;height: 20px;padding: 0 !important;margin: 0 !important;line-height: 1.8 !important;text-align: center !important;border-radius: 10px;
-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease;-ms-transition: all .3s ease;transition: all .3s ease;display: block;opacity: .8;font-weight: bold;text-indent: 0px !important;}
.box-close:hover {cursor: pointer;background: #fff;opacity: 1;color: #787878 !important;}
.box.green {
	background: #acea90; /* Old browsers */
	background: -moz-linear-gradient(top,  #acea90 0%, #99d181 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#acea90), color-stop(100%,#99d181)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #acea90 0%,#99d181 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #acea90 0%,#99d181 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #acea90 0%,#99d181 100%); /* IE10+ */
	background: linear-gradient(top,  #acea90 0%,#99d181 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acea90', endColorstr='#99d181',GradientType=0 ); /* IE6-9 */
	border-bottom:1px solid #98d27e;
	border-top: 1px solid #98d27e;
	color: #466638;
}
.box.green:before {
	position: absolute;
	top: 11px;
	left: 10px;
	width: 19px;
	height: 20px;
	content: "";
	display: block;
	background-image: url(../images/box-icons.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.box.red {
	background: #ee6669; /* Old browsers */
	background: -moz-linear-gradient(top,  #ee6669 0%, #c45456 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee6669), color-stop(100%,#c45456)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ee6669 0%,#c45456 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ee6669 0%,#c45456 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ee6669 0%,#c45456 100%); /* IE10+ */
	background: linear-gradient(top,  #ee6669 0%,#c45456 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee6669', endColorstr='#c45456',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #d23939;
	border-top: 1px solid #d23939;
}
.box.red:before {
	position: absolute;
	top: 11px;
	left: 10px;
	width: 19px;
	height: 20px;
	content: "";
	display: block;
	background-image: url(../images/box-icons.png);
	background-repeat: no-repeat;
	background-position: -20px 0px;
}
.box.yellow {
	background: #f1d67b; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1d67b 0%, #d3c96e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1d67b), color-stop(100%,#d3c96e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1d67b 0%,#d3c96e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1d67b 0%,#d3c96e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1d67b 0%,#d3c96e 100%); /* IE10+ */
	background: linear-gradient(top,  #f1d67b 0%,#d3c96e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1d67b', endColorstr='#d3c96e',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #CFB767;
	border-top: 1px solid #CFB767;
	color: #746434;
}
.box.yellow:before {
	position: absolute;
	top: 11px;
	left: 10px;
	width: 20px;
	height: 20px;
	content: "";
	display: block;
	background-image: url(../images/box-icons.png);
	background-repeat: no-repeat;
	background-position: -39px 0px;
}
.box.blue {
	background: #aaebfe; /* Old browsers */
	background: -moz-linear-gradient(top,  #aaebfe 0%, #99d6e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaebfe), color-stop(100%,#99d6e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #aaebfe 0%,#99d6e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #aaebfe 0%,#99d6e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #aaebfe 0%,#99d6e5 100%); /* IE10+ */
	background: linear-gradient(top,  #aaebfe 0%,#99d6e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaebfe', endColorstr='#99d6e5',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #7bd5e2;
	border-top: 1px solid #7bd5e2;
	color: #30839C!important;
}
.box.blue:before {
	position: absolute;
	top: 11px;
	left: 10px;
	width: 20px;
	height: 20px;
	content: "";
	display: block;
	background-image: url(../images/box-icons.png);
	background-repeat: no-repeat;
	background-position: -60px 0px;
}

/* BUTTONS */

.button {width: 100px;height: 40px;line-height: 3.5;text-align: center;display: block;text-decoration: none;font-size: 12px;color: #fff;-moz-border-radius: 3px;border-radius: 3px;font-weight: 700;}
.button:hover {color: #fff !important;}
.button.black {
	background: #494949; /* Old browsers */
	background: -moz-linear-gradient(top,  #494949 0%, #140000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494949), color-stop(100%,#140000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #494949 0%,#140000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #494949 0%,#140000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #494949 0%,#140000 100%); /* IE10+ */
	background: linear-gradient(top,  #494949 0%,#140000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#140000',GradientType=0 ); /* IE6-9 */
	border: 1px solid #000;
}
.button.black:hover {background: #444444;}
.button.green {
	background: #acea90; /* Old browsers */
	background: -moz-linear-gradient(top,  #acea90 0%, #99d181 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#acea90), color-stop(100%,#99d181)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #acea90 0%,#99d181 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #acea90 0%,#99d181 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #acea90 0%,#99d181 100%); /* IE10+ */
	background: linear-gradient(top,  #acea90 0%,#99d181 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acea90', endColorstr='#99d181',GradientType=0 ); /* IE6-9 */
	border:1px solid #98d27e;
	color: #fff;
}
.button.green:hover {background: #9fd886;}
.button.red {
	background: #ee6669; /* Old browsers */
	background: -moz-linear-gradient(top,  #ee6669 0%, #c45456 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee6669), color-stop(100%,#c45456)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ee6669 0%,#c45456 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ee6669 0%,#c45456 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ee6669 0%,#c45456 100%); /* IE10+ */
	background: linear-gradient(top,  #ee6669 0%,#c45456 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee6669', endColorstr='#c45456',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #d23939;
	border-top: 1px solid #d23939;
}
.button.red:hover {background: #d45b5d;}
.button.blue {
	background: #aaebfe; /* Old browsers */
	background: -moz-linear-gradient(top,  #aaebfe 0%, #99d6e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaebfe), color-stop(100%,#99d6e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #aaebfe 0%,#99d6e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #aaebfe 0%,#99d6e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #aaebfe 0%,#99d6e5 100%); /* IE10+ */
	background: linear-gradient(top,  #aaebfe 0%,#99d6e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaebfe', endColorstr='#99d6e5',GradientType=0 ); /* IE6-9 */
	border: 1px solid #7bd5e2;
	color: #fff!important;
}
.button.blue:hover {background: #90e0f8;}
.button.orange {
	background: #ff7700; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff7700 0%, #fd3e00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7700), color-stop(100%,#fd3e00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff7700 0%,#fd3e00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff7700 0%,#fd3e00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff7700 0%,#fd3e00 100%); /* IE10+ */
	background: linear-gradient(top,  #ff7700 0%,#fd3e00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7700', endColorstr='#fd3e00',GradientType=0 ); /* IE6-9 */
	border: 1px solid #ED3F00;
}
.button.orange:hover {background: #ff7700;}
.button.purple {
	background: #db1ea2; /* Old browsers */
	background: -moz-linear-gradient(top,  #db1ea2 0%, #bd1a9c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db1ea2), color-stop(100%,#bd1a9c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #db1ea2 0%,#bd1a9c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #db1ea2 0%,#bd1a9c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #db1ea2 0%,#bd1a9c 100%); /* IE10+ */
	background: linear-gradient(top,  #db1ea2 0%,#bd1a9c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db1ea2', endColorstr='#bd1a9c',GradientType=0 ); /* IE6-9 */
	border: 1px solid #EA20C5;
	
}
.button.purple:hover {background: #d71eb2;}

/* COLUMNS */

.col {float: left;}
.col.half.last, .col.third.last, .col.third.last {margin-right: 0px!important;}
.col.half {width: 400px;margin-right: 100px;}
.col.third {width: 280px;margin-right: 30px;}
.col.fourth {width: 195px;margin-right: 30px;}

/* TABS */

#tabs {width:100%;} 
#tabs ul.tabs {float: left;list-style: none; width:100%;}
#tabs ul.tabs li {display: inline; position: relative;float:left; color:#fff; margin:0 -5px 0 0}
#tabs ul.tabs li a {text-decoration: none; color:#fff;display: block;font-size: 11px;outline: none;line-height:1.3; float:left; padding:10px 20px 10px 20px; margin: 0; border-top-left-radius: 3px; border-top-right-radius: 3px;-moz-border-radius: 3px;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease;-ms-transition: all .3s ease;transition: all .3s ease; background: url(../images/headers.png) no-repeat 0px 0px;}
#tabs ul.tabs li a:hover {color: #fff !important;}
#tabs ul.tabs li.active a {color:#fff; background: url(../images/headers.png) no-repeat 0px -56px; z-index: 99;}
#tabs .tab_container {overflow: hidden;clear: both;float: left; width: 100%;background: #fff; border:1px solid #F7F7F7;}
#tabs .tab_content {padding: 20px;}
#tabs .tab_content h3 {margin:0; border:none; padding:0;}
#tabs .tab_content p {font-size: 12px; margin:10px 0 0 0; line-height:24px;}

/* TOGGLES */

#toggle {height:auto;}
#toggle h2.trigger {padding: 0;margin: 0 0 5px 0;height:45px;width:100%;float: left;font-size:12px; position:relative; line-height:4; color: #fff; clear: left; text-indent: 50px; background: url(../images/headers.png) no-repeat 0px 0px; border-radius: 5px;}
#toggle h2.trigger a {background: url(../images/toggle-arrows.png) no-repeat top left; display: block; width:14px; height:14px; text-decoration:none; position:absolute; top:15px; left:10px;color:#fff;}
#toggle h2.trigger a:hover {color:#515151;}
#toggle h2:hover  {color:#fff; cursor: pointer;}
#toggle h2.active {background-position: 0px -56px;}
#toggle h2.active a {background-position: top right;}
#toggle .toggle_container {margin: 0 0 5px 0;overflow: hidden;font-size: 13px; width:100%;clear: left; background: #fff;}
#toggle .toggle_container p {line-height: 20px; margin: 0 !important; font-size: 12px;
}
#toggle .toggle_container h3 {margin:0 0 10px 0 !important; font-size: 16px;}
#toggle .toggle_container .block {padding: 10px;}

/* HIGHLIGHT */

.highlight {padding: 3px;}
.highlight.dark {background: #515151;color: #fff;}
.highlight.light {background: #f2f2f2;}
.highlight.yellow {background: #fbeb79;}
.highlight.orange {background: #fd3e00; color: #fff;}
.highlight.red {background: #ee6669; color: #fff;}

/* DROPCAP */

.cap {padding: 10px;border-radius: 3px;-moz-border-radius: 3px;margin-right: 5px;display: block;float: left;}
.cap.dark {background: #515151;color: #fff;font-size: 14px;}
.cap.light {background: #f2f2f2;color: #515151;font-size: 14px;}
.cap.big {font-size: 40px;padding: 0px !important;line-height: 2;}

/*--------------------------------------------
	HEADER
--------------------------------------------*/

.header {
	width: 960px;
	height: 125px;
	background: url(../images/header/header-bg.jpg) no-repeat;
	position: relative;
}
.header h1.logo {
	font-family: 'Allura', cursive;
	color: #fff;
	font-size: 35px;
	font-weight: 400;
	float: left;
	margin: 45px 0 0 30px;
	vertical-align: middle;
}
.mainnav {
	list-style: none;
	float: right;
	margin-top: 50px;
	margin-right: 30px;
}
.mainnav li {
	display: inline;
	float: left;
	position: relative;
}
.mainnav li a {
	color: #d6d6d6;
	font-weight: 400;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	display: block;
	float: left;
	position: relative;
	text-shadow: 1px 1px 0px #000;
	margin: 0 10px 0 0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.mainnav li a:hover {
	background: #717171;
	color: #fff !important;
}
.mainnav li a.active {
	background: #717171;
	color: #fff !important;
}
.mainnav li:hover ul.subnav {
	visibility: visible;
	opacity: 1;
	top: 45px;
}
.mainnav li ul.subnav {
	display:block;
	visibility: hidden;
	position:absolute;
	left: 50%;
	top: 60px;
	z-index:40;
	list-style:none;
	height:auto;
	width:158px;
	margin-left: -79px;
	padding:0;
	box-shadow: 0px 0px 5px #686868;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	opacity: 0;
}
.mainnav li ul.subnav:before {
	background-image: url(../images/header/subnav-top.png);
	background-repeat: no-repeat;
	position: absolute;
	top: -17px;
	left: 0px;
	content:"\0020";
	display: block;
	width: 158px;
	height: 17px;
}
.mainnav li ul.subnav li {
	display:inline;
}
.mainnav li ul.subnav li:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.mainnav li ul.subnav li a {
	display:inline-block;
	text-align: center;
	margin: 0px;
	padding: 0px;
	float:left;
	font-weight:normal;
	width: 158px;
	height: 38px;
	background: url(../images/header/subnav-bg.jpg) repeat;
	line-height: 3;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-transition: color 0.3s ease;
	transition: color .3s ease;
	-moz-transition: color .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: color .3s ease;
}
.mainnav li ul.subnav li a:hover {
	color:#fff !important;
	background: background: url(../images/header/subnav-bg.jpg) repeat !important;
}

/*--------------------------------------------
	SLIDER
--------------------------------------------*/

.slider {
	width: 100%;
	height: 300px;
	position: relative;
}
.slides {
	width: 100%;
	height: 300px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.slides li {
	position: relative;
	height: 300px;
	background: transparent;
}
.slides li h2.title {
	position: absolute;
	bottom: 30px;
	left: 30px;
	display: block;
	background: #4c4c4c;
	font-size: 20px;
	color: #fff;
	padding: 10px 20px 10px 20px;
	font-weight: 400;
	text-transform: uppercase;
}
.slider .slides-pager {
	list-style: none;
	z-index: 50;
	width: 960px;
	position: absolute;
	top: 45%;
	left: 0px;
}
.slider .slides-pager li {
	display: inline;
}
.slider .slides-pager li a {
	float: left;
	display: block;
	width: 30px;
	height: 30px;
	background: #4c4c4c;
	color: #fff;
	line-height: 2.4;
	text-decoration: none;
	text-align: center;
	position: absolute;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.slider .slides-pager li a.prev {
	left: -5px;
}
.slider .slides-pager li a:hover.prev {
	left: -10px;
	background: #717171;
	color: #fff !important;
}
.slider .slides-pager li a.next {
	right: -5px;
}
.slider .slides-pager li a:hover.next {
	right: -10px;
	background: #717171;
	color: #fff !important;
}

/*--------------------------------------------
	NIVOSLIDER
--------------------------------------------*/

.nivoSlider {
	position:relative;
	width: 960px;
	height: 300px;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
.nivo-caption {
	position: absolute;
	left: 0px;
	bottom: 0px;
	background: #000;
	color: #fff;
	opacity: 0.6;
	width: 100%;
	height: 45px;
	z-index: 8;
}
.nivo-caption p {
	line-height: 3.5;
	font-size: 15;
	padding-left: 30px;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
.nivo-controlNav {
	position:absolute;
	right:30px;
	bottom:30px;
    z-index: 50;
}
.nivo-controlNav a {
	display:block;
	width:24px;
	height:23px;
	background:url(../images/nivoslider/bullets.png) no-repeat -23px 0px;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position: 1px 0px;
}
.nivo-directionNav {
	position: absolute;
	z-index: 50;
	bottom: 30px;
	left: 30px;
	display: block;
}
.nivo-directionNav a {
	display:block;
	width:26px;
	height:26px;
	background: url(../images/nivoslider/arrows.png) no-repeat;
	text-indent:-9999px;
	float: left;
	margin-right: 2px;
	cursor: pointer;
	opacity: .7;
	transform: scale(.9);
	-webkit-transform:  scale(.9);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.nivo-directionNav a:hover {
	opacity: 1;
	transform: scale(1);
	-webkit-transform:  scale(1);
}
a.nivo-nextNav {
	background-position: -26px 0px;
}
a.nivo-prevNav {
	background-position: 0px 0px;
}
/*--------------------------------------------
	BOOK A TABLE
--------------------------------------------*/

.bookatable {
	background: #f2f2f2;
	height: 85px;
	width: 100%;
	position: relative;
}
.bookatable h2 {
	color: #888888;
	font-size: 20px;
	font-weight: 400;
	padding: 25px 0 0 30px;
}
.bookatable a {
	position: absolute;
	top: 15px;
	right: 30px;
}

/*--------------------------------------------
	WELCOME
--------------------------------------------*/

.welcome {
	width: 900px;
	margin: 30px 0 0 30px;
	position: relative;
}
.welcome h3 {
	font-size: 20px;
	font-weight: 400;
	color: #4c4c4c;
}
.welcome p {
	display: block;
	width: 590px;
	color: #797979;
	line-height: 2.2;
	margin: 20px 0 0 0;
}
.welcome .chef {
	width: 280px;
	height: 197px;
	background: url(../images/chefboard.jpg) no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
}
.welcome .chef .header {
	width: 169px;
	height: 50px;
	display: block;
	background: url(../images/chefheader.png) no-repeat;
	position: absolute;
	top: -15px;
	left: 55px;
}
.welcome .chef-slides {
	width: 280px;
	height: 197px;
}
.welcome .chef-slides li {
	font-family: 'Patrick Hand', cursive;
	background: url(../images/chefline.png) no-repeat 60px 110px;
	font-size: 24px;
	color: #fff;
	width: 280px;
	height: 197px;
	text-align: center;
	line-height: 8;
}
.chef-pager {
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 30;
	list-style: none;
}
.chef-pager li {
	display: inline;
}
.chef-pager li a {
	float: left;
	display: block;
	width: 29px;
	height: 18px;
	background: url(../images/chefarrows.png) no-repeat;
	text-indent: -6666px;
	opacity: .7;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.chef-pager li a:hover { 
	opacity: 1;
}
.chef-pager li a.prev {
	background-position: top left;
}
.chef-pager li a.next {
	background-position: top right;
}

/*--------------------------------------------
	UPCOMING EVENTS
--------------------------------------------*/

.events {
	clear: both;
	width: 280px;
	height: 301px;
	position: relative;
	margin: 70px 0 0 30px;
	float: left;
}
.events h2.events-head {
	width: 280px;
	height: 56px;
	display: block;
	background: url(../images/events-head.png) no-repeat;
	color: #fff;
	font-weight: 400;
	font-size: 15px;
	text-shadow: 1px 1px 0px #000;
	text-indent: 30px;
	line-height: 4;
	margin: 0 !important;
}
.events-list {
	list-style: none;
	width: 278;
	border: 1px solid #e9e9e9;
}
.events-list li {
	display: block;
	position: relative;
	border-bottom: 1px solid #e9e9e9;
}
.events-list li:last-child {
	border: none;
}
.events-list li a {
	width: 280px;
	height: 80px;
	display: block;
	position: relative;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.events-list li a:hover {
	background: #fbfbfb;
}
.events-list li a .date {
	width: 52px;
	height: 52px;
	display: block;
	background: url(../images/events-date.png) no-repeat;
	position: relative;
	text-align: center;
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 10px;
	color: #e7e7e7;
	line-height: 7.9;
}
.events-list li a .date strong {
	font-size: 22px;
	color: #fff;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 23px;
	left: 14px;
	line-height: 0;
}
.events-list li a h2 {
	font-size: 17px;
	position: absolute;
	top: 25px;
	left: 100px;
	color: #515151;
	font-weight: 400;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.events-list li a:hover h2 {
	left: 110px;
}

/*--------------------------------------------
	FROM THE BLOG
--------------------------------------------*/

.fromblog {
	width: 590px;
	height: 301px;
	margin: 70px 0 0 30px;
	position: relative;
	float: left;
	background: url(../images/blog/fromblog-bg.jpg) repeat;
}
.fromblog-head {
	background: url(../images/fromblog-head.png) no-repeat;
	width: 590px;
	height: 56px;
	display: block;
	color: #fff;
	font-weight: 400;
	font-size: 15px;
	text-shadow: 1px 1px 0px #000;
	text-indent: 30px;
	line-height: 4;
}
.fromblog-slides {
	width: 590px;
	height: 245px;
	list-style: none;
}
.fromblog-slides li {
	width: 590px;
	height: 245px;
	position: relative;
}
.fromblog-slides li h2 {
	font-size: 20px;
	color: #515151;
	font-weight: 400;
	float: left;
	position: absolute;
	top: 30px;
	left: 30px;
}
.fromblog-slides li p {
	font-size: 12px;
	color: #7c7c7c;
	display: block;
	width: 240px;
	position: absolute;
	top: 70px;
	left: 30px;
}
.fromblog-slides li p a {
	font-size: 12px;
	color: #7c7c7c;
	/*
	clear: left;
	display: block;
	text-decoration: none;
	margin: 20px 0 0 0;
	*/
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.fromblog-slides li p a:hover {
	color: #fc5a2a;
	text-decoration: underline;
}
.fromblog-slides li img {
	position: absolute;
	top: 30px;
	right: 30px;
	border: 5px solid #fff;
}
.fromblog-pager {
	list-style: none;
	position: absolute;
	bottom: 20px;
	right: 30px;
	width: 60px;
	height: 32px;
}
.fromblog-pager li {
	display: inline;
}
.fromblog-pager li a {
	display: block;
	float: left;
	text-indent: -6668px;
	width: 30px;
	height: 32px;
	background: url(../images/blog/fromblog-arrows.png) no-repeat;
}
.fromblog-pager li a.prev {
	background-position: 0px 0px;
}
.fromblog-pager li a:hover.prev {
	background-position: 0px -32px;
}
.fromblog-pager li a.next {
	background-position: -30px 0px;
}
.fromblog-pager li a:hover.next {
	background-position: -30px -32px;
}

/*--------------------------------------------
	NEWSLETTER
--------------------------------------------*/

.newsletter {
	width: 960px;
	height: 111px;
	background: url(../images/newsletter/newsletter-bg.jpg) no-repeat;
	position: relative;
	margin: 50px 0 0 0;
}
.newsletter h2 {
	position: absolute;
	top: 40px;
	left: 30px;
	font-size: 20px;
	color: #fff;
	font-weight: 400;	
}
.newsletter .txt {
	background: url(../images/newsletter/input.png) no-repeat;
	width: 348px;
	height: 47px;
	border: none;
	outline: none;
	position: absolute;
	top: 33px;
	left: 330px;
	padding: 0 0 0 30px;
	color: #fff !important;
}
.newsletter input::-webkit-input-placeholder {
    color: #fff !important;
    font-size: 12px;
}
.newsletter input:-moz-placeholder {
    color: #fff !important;
    font-size: 12px;
}
.newsletter .btn {
	line-height: 3.5;
	font-weight: 400;
	position: absolute;
	top: 28px;
	right: 30px;
	border: none;
	outline: none;
}

/*--------------------------------------------
	FOOTER
--------------------------------------------*/

.footer {
	margin: 0 auto;
	width: 960px;
	padding: 0px 0 0 0;
}
.ft-box {
	width: 280px;
	float: left;
	margin-left: 30px;
}
.ft-box h2 {
	color: #515151;
	font-size: 16px;
	font-weight: 400;
}
.meetteam p {
	color: #676767;
	font-size: 12px;
	margin: 20px 0 20px 0;
}
.meetteam a {
	font-size: 12px;
	color: #7c7c7c;
	clear: both;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.meetteam a:hover {
	color: #fc5a2a;
	text-decoration: underline;
}
.hours table {
	width: 280px;
	color: #515151;
	font-size: 12px;
	margin: 20px 0 0 0;
}
.hours table tr {
	padding: 10px 0 10px 0;
}
.hours table td.day {
	width: 80px;
	font-weight: bold;
	text-indent: 10px;
}
.hours table tr.even {
	background: #f6f6f6;
}
.mapbox {
	border: 5px solid #717171;
	margin: 30px 0 0 0;
}
iframe {
	border: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.credits {
	clear: both;
	width: 960px;
	background: url(../images/ft-shadow.png) no-repeat top center;
	margin: 0px 0 30px 0;
	padding: 20px 0 30px 0;
}
.credits p {
	font-size: 12px;
	color: #7c7c7c;
	float: left;
}
.credits p a {
	font-size: 12px;
	color: #7c7c7c;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.credits p a:hover {
	color: #fc5a2a;
}
.credits .pay-options {
	float: right;
}
.credits .pay-options li {
	width: 32px;
	height: 22px;
	display: block;
	float: left;
	background: url(../images/pay-icons.png) no-repeat;
	text-indent: -6666px;
	margin: 0 0 0 5px;
}
.credits .pay-options li.visa {
	background-position: -4px -3px;
}
.credits .pay-options li.master {
	background-position: -36px -3px;
}
.credits .pay-options li.discover {
	background-position: -68px -3px;
}
.credits .pay-options li.express {
	background-position: -101px -3px;
}

/*--------------------------------------------
	PAGES
--------------------------------------------*/

.top {
	width: 960px;
	height: 85px;
	position: relative;
	background: #f2f2f2;
}
.top h2 {
	color: #888888;
	font-size: 20px;
	font-weight: 400;
	position: absolute;
	top: 25px;
	left: 30px;
}
.page {
	width: 590px;
	float: left;
	position: relative;
	margin: 30px 0 0 30px;
}
.sidebar {
	width: 280px;
	float: left;
	margin: 30px 0 0 30px;
	position: relative;
}
.full {
	width: 900px;
	margin: 30px 0 0 30px;
}
h2.pageheader {
	font-size: 20px;
	font-weight: 400;
	color: #515151;
}
.page p {
	color: #797979;
	line-height: 1.8;
	margin: 20px 0 30px 0;
	text-align: justify;
}
.full p {
	color: #797979;
	line-height: 1.8;
	margin: 20px 0 30px 0;
	text-align: justify;
}
.contact input {
	margin: 0 0 20px 0;
	position: relative;
}
.contact input, .contact textarea {
	background: #f2f2f2;
	width: 260px;
	padding: 10px;
	border: none;
	color: #bcbcbc !important;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	font-size: 13px !important;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.contact textarea {
	width: 568px;
	height: 190px;
	font-size: 13px;
}
.contact input:focus, .contact textarea:focus {
	outline: none;
	background: #fff;
	border: 1px solid #c4c4c4;
	color: #515151 !important;
	-moz-box-shadow: inset 0 0 1px #e9e9e9;
	-webkit-box-shadow: inset 0 0 1px #e9e9e9;
	box-shadow: inner 0 0 1px #e9e9e9;
}
.contact .btn {
	border: none;
	line-height: 2.3;
	float: right;
	margin-top: 20px;
}
.contact label {
	display: none;
}
.contact .formblock {
	position: relative;
}
.contact .error {
	font-size: 11px;
	color: red;
	position: absolute;
	margin-left: 10px;
}
input::-webkit-input-placeholder {
    color: #515151;
}
input:-moz-placeholder {
    color: #515151;
}
textarea::-webkit-input-placeholder {
    color: #515151;
    font-size: 12px;
}
textarea:-moz-placeholder {
    color: #515151;
    font-size: 12px;
}
.sidebar h3.tweet-head, .sidebar h3.info-head {
	width: 280px;
	height: 56px;
	display: block;
	color: #fff;
	font-weight: 400;
	font-size: 15px;
	text-shadow: 1px 1px 0px #000;
	text-indent: 30px;
	line-height: 4;
}
.sidebar h3.tweet-head {
	background: url(../images/sidebar/tweets-head.png) no-repeat;
	margin: 30px 0 0 0;
}
.sidebar h3.info-head {
	background: url(../images/sidebar/info-head.png) no-repeat;
	margin: 0 !important;
}
.sidebar .address {
	list-style: none;
	border: 1px solid #e9e9e9;
}
.sidebar .address li {
	border-bottom: 1px solid #e9e9e9;
	font-size: 13px;
	color: #616161;
	height: 60px;
	line-height: 5;
	text-indent: 80px;
}
.sidebar .address li:last-child {
	border: none;
}
.sidebar .address li a {
	color: #515151;
	text-decoration: none;
}
.sidebar .address li a:hover {
	color: #fc5a2a;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.sidebar .address li.info {
	background: url(../images/sidebar/address.png) no-repeat 20px 20px;
}
.sidebar .address li.phone {
	background: url(../images/sidebar/phone.png) no-repeat 20px 20px;
}
.latest_tweet  {
	margin: 0 0 0 0;
	border: 1px solid #e9e9e9;
}
.latest_tweet p {
	padding: 20px;
	border-bottom: 1px solid #e9e9e9;
	font-size: 12px;
}
.latest_tweet p:last-child {
	border-bottom: none;
}
.latest_tweet small, .latest_tweet a {
	color: #fc5a2a;
	text-decoration: none;
}
.latest_tweet a:hover {
	text-decoration: underline;
}
.latest_tweet small {
	font-size: 9px;
}

/*--------------------------------------------
	MENU
--------------------------------------------*/

.menu {
	position: relative;
}
.menu .headers {
	display: block;
	position: relative;
	margin: 30px 0 20px 30px;
	text-align: center;
	width: 900px;
	height: 70px;
	border-bottom: 1px solid #e8e8e8;
	padding: 0 0 50px 0;
}
.menu .headers .title {
	color: #515151;
	font-weight: 700;
	font-size: 40px;
	text-transform: capitalize;
}
.menu .headers .hours {
	color: #a7a7a7;
	font-weight: 400;
	font-size: 13px;
}
.menu .col {
	width: 400px;
	position: relative;
	float: left;
}
.menu.dinner .col {
	margin-top: 50px;
}
.menu .col.one {
	margin-left: 30px;
}
.menu .col.two {
	margin-left: 100px;
}
.menu .col .subtitle {
	display: inline;
	background: #515151;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 5px;
	margin: 0 0 0 40%;
}
.menu .col ul {
	list-style: none;
	margin-top: 20px;
	margin-bottom: 50px;
}
.menu .col ul li {
	position: relative;
	padding: 20px 0 20px 0;
	margin: 0px 0 0 0;
	border-bottom: 1px solid #e8e8e8;
}
.menu .col ul li a.img {
	border: 5px solid #f2f2f2;
	display: block;
	float: left;
	margin: 0 10px 0 0;
	padding: 0;
	border-radius: 5px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.menu .col ul li img {
	display: block;
}
.menu .col ul li a.img:hover {
	border: 5px solid #d2d2d2;
}
.menu .col ul h2 {
	font-size: 14px;
	font-weight: 400;
	color: #515151;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.menu .col ul li:hover h2 {
	margin-left: 10px;
}
.menu .col ul li p {
	display: block;
	text-align: justify;
	color: #7f7f7f;
	font-size: 12px;
	margin: 10px 0 0 0;
}
.menu .col ul li .price {
	display: block;
	position: absolute;
	color: #515151;
	top: 20px;
	right: 0;
	font-size: 14px;
	font-weight: bold;
}
.arrow {
	width: 173px;
	height: 35px;
	display: block;
	position: relative;
	text-align: center;
	color: #fff;
	text-decoration: none;
	background: url(../images/arrows.png) no-repeat;
	line-height: 2.7;
	font-weight: bold;
	opacity: .7;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.arrow:hover {
	opacity: 1;
	color: #fff !important;
}
.arrow.right {
	background-position: 0px 0px;
	float: right;
	margin-right: 10px;
}
.arrow.left {
	background-position: 0px -35px;
	float: left;
	margin-left: 10px;
}
.arrow.right:hover {
	margin-right: 0px;
	color: #fff !important;
}
.arrow.left:hover {
	margin-left: 0px;
	color: #fff !important;
}
.menu .specials {
	position: relative;
	list-style: none;
	margin: 30px 0 0 30px;
}
.menu .specials li {
	float: left;
	display: block;
	width: 270px;
	height: 140px;
	position: relative;
	overflow: hidden;
	border: 5px solid #f2f2f2;
}
.menu .specials li.margin {
	margin-left: 25px;
}
.menu .specials img {
	display: block;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
.menu .specials li .info {
	display: block;
	position: absolute;
	z-index: 60;
	top: 105px;
	left: 0px;
	width: 250px;
	height: 120px;
	padding: 10px;
	background: #515151;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.menu .specials li .info h2 {
	color: #fff;
	margin: 0;
	font-size: 13px;
}
.menu .specials li .info p {
	color: #d6d6d6;
	font-size: 12px;
	display: block;
	margin: 5px 0 0 0;
}
.menu .specials li:hover .info {
	top: 0px
}

/*--------------------------------------------
	EVENTS
--------------------------------------------*/

.events-side .events {
	margin: 0 !important;
}
.event {
	position: relative;
}
.event .event-header {
	border-bottom: 1px solid #f2f2f2;
	padding: 0 0 20px 0;
}
.event .list li {
	display: block;
	background: url(../images/headers.png) no-repeat top left;
	width: 590px;
	height: 56px;
	margin: 0 0 10px 0;
	position: relative;
	overflow: hidden;
	color: #fff;
	border-radius: 5px;
	-webkit-background-clip: clip;
}
.event .list li:first-child {
	box-shadow: none;
}
.event .list li:hover {
	background-position: 0px -56px;
}
.event .list li .date {
	color: #fff;
	position: absolute;
	top: 14px;
	left: 30px;
	width: 52px;
	height: 29px;
	background: url(../images/event-date.png) no-repeat top left;
	line-height: 2.3;
	text-align: center;
}
.event .list li h2 {
	position: absolute;
	top: 13px;
	left: 200px;
	font-size: 20px;
	text-shadow: 1px 1px 0px #000;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.event .list li .info {
	position: absolute;
	bottom: -100px;
	right: 30px;
	display: block;
	font-size: 12px;
	color: #fff;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.event .list li a {
	color: #fff;
	width: 92px;
	height: 33px;
	display: block;
	text-align: center;
	font-size: 11px;
	line-height: 3;
	position: absolute;
	bottom: -40px;
	right: 30px;
	background: url(../images/event-button.png) no-repeat 1px 0px; 
	text-decoration: none;
	-webkit-transition: bottom .3s ease;
	-moz-transition: bottom .3s ease;
	-o-transition: bottom .3s ease;
	-ms-transition: bottom .3s ease;
	transition: bottom .3s ease;
}
.event .list li a:hover {
	color: #fff !important;
	background-position: -92px 0px;
}
.event .list li:hover a {
	bottom: 11px;
}
.event .list li:hover .info {
	bottom: 17px;
}
.event .loading {  
    display: none;
    position: relative;
    left: 0px;
    top: 100px;
}
.eve-list {
	width: 280px;
}
.eve-list .month tr {
	text-align: center;
}
.eve-list td {
	width: 38px;
	line-height: 2.5;
	text-align: center;
	border: 1px solid #f2f2f2;
}
.eve-list .days {
	background: url(../images/header-orange.png) repeat -10px 0px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
}
.eve-list .days td {
	border: none;
}
.eve-list .days td {
	border: none;
}
.eve-list tr.month {
	background: #f2f2f2;
	font-size: 12px;
	font-weight: 700;
}
.eve-list tr.month th {
	font-weight: normal !important;
	padding: 5px 0 5px 0;
}
.eve-list td.link {
	color: #fff;
	display: block;
	border: none !important;
	width: 40px !important;
	text-decoration: none;
	font-weight: bold;
	background: url(../images/events-head.png) no-repeat -10px 0px;
}
.eve-list td.link:hover {
	cursor: pointer;
	background: url(../images/headers.png) no-repeat -5px -56px;
}
.eve-list td.active {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	background: url(../images/fromblog-head.png) no-repeat -10px 0px;
}
.eve-list td.closed {
	color: #fff;
	background-color: #e07f7f;
}
.list-date {
	font-size: 16px;
	color: #a0a0a0;
	border-bottom: 1px solid #f2f2f2;
	padding: 0 0 10px 0;
	margin: 0 0 20px 0;
}
.all {
	width: 280px;
	display: block;
	height: 30px;
	background: url(../images/headers.png) no-repeat 0px -3px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	line-height: 2.5;
	font-weight: bold;
	margin-bottom: 30px;
}
.all:hover {
	background: url(../images/headers.png) no-repeat 0px -60px;
	color: #fff !important;
	cursor: pointer;
}
.all.active {
	background: url(../images/headers.png) no-repeat 0px -60px;
	color: #fff !important;
	cursor: pointer;
}

/* BRUNCH */

.sidebar .events-feat {
	width: 238px;
	margin: 60px 0 0 0;
	list-style: none;
}
.sidebar .events-feat li {
	background: #fff;
	border: 1px solid #f2f2f2;
	width: 258px;
	padding: 10px;
	display: block;
	border-radius: 3px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.sidebar .events-feat li:hover {
	background: #fafafa;
}
.sidebar .events-feat li a {
	text-decoration: none;
	color: #797979;
	display: block;
}
.sidebar .events-feat li h3 {
	color: #fc5a2a;
}
.sidebar .events-feat li:hover h3 {
	color: #797979;
}
.event-box h3 {
	width: 580px;
}
.event-box h3 {
	color: #797979 !important;
}
.event-box p {
	color: #797979 !important;
	line-height: 2 !important;
}

/*--------------------------------------------
	BLOG
--------------------------------------------*/

.blog .blog-posts {
	list-style: none;
}
.blog .blog-posts li {
	border-bottom: 1px solid #f2f2f2;
	padding: 0 0 80px 0;
	margin: 30px 0 0 0;
}
.blog .blog-posts li:first-child {
	margin: 0 0 0 0;
}
.blog .blog-posts li:last-child {
	border-bottom: none;
}
.blog a.img {
	border: 5px solid #f2f2f2;
	display: block;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	overflow: hidden;
}
.blog a.img:hover {
	border: 5px solid #d2d2d2;
}
.blog a.img img {
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
}
.blog a.img:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}
.blog img {
	display: block;
}
.blog a.title {
	font-size: 20px;
	font-weight: 400;
	color: #515151;
	text-decoration: none;
}
.blog a.title:hover {
	text-decoration: underline;
}
.blog .meta {
	font-size: 12px;
	color: #999999;
	margin: 10px 0 20px 0;
	display: block;
}
.blog .meta a {
	color: #515151;
	text-decoration: none;
}
.blog .meta a:hover {
	text-decoration: underline;
}
.blog .button {
	float: right;
}
.blog .old-posts {
	width: 173px;
	height: 35px;
	display: block;
	position: relative;
	text-align: center;
	color: #fff;
	text-decoration: none;
	background: url(../images/arrows.png) no-repeat;
	line-height: 2.7;
	font-weight: bold;
	opacity: .7;
	background-position: 0px -35px;
	float: left;
	margin-left: 10px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.blog .old-posts:hover {
	opacity: 1;
	margin-left: 0px;
}
.blog h2 {
	font-size: 20px;
	color: #515151;
}

/* GRID STYLE BLOG */

.blog .grid-posts {
	list-style: none;
}
.blog .grid-posts li {
	border-bottom: 1px solid #f2f2f2;
	margin-right: 90px;
	margin-bottom: 20px;
	width: 400px;
	float: left;
	display: inline;
}
.blog .grid-posts li.last {
	margin-right: 0px !important;
}
.blog .grid-posts a.img {
	border: 5px solid #f2f2f2;
	display: block;
	width: 400px;
	height: 150px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	overflow: hidden;
}
.blog .grid-posts a.img:hover {
	border: 5px solid #d2d2d2;
}
.blog .grid-posts a.img img {
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
}
.blog .grid-posts a.img:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}
.blog .grid-posts img {
	display: block;
}
.blog .grid-posts li a.title {
	font-size: 20px;
	font-weight: 400;
	color: #515151;
	text-decoration: none;
}
.blog .grid-posts li a.title:hover {
	text-decoration: none;
}
.blog .grid-posts li .meta {
	font-size: 12px;
	color: #999999;
	margin: 10px 0 20px 0;
	display: block;
}
.blog .grid-posts li .meta a {
	color: #515151;
	text-decoration: none;
}
.blog .grid-posts li .meta a:hover {
	text-decoration: none;
}

/* SECOND BLOG STYLE */

.blog-second {
	list-style: none;
	margin: 0;
}
.blog-second li {
	width: 590px;
	height: auto;
	margin: 0 0 50px 0;
	padding: 0 0 30px 0;
	position: relative;
	background: url(../images/blog/fromblog-bg.jpg) repeat;
}
.blog-second li .title {
	background: url(../images/fromblog-head.png) no-repeat;
	width: 590px;
	height: 56px;
	display: block;
	color: #fff;
	font-weight: 400;
	font-size: 15px;
	text-shadow: 1px 1px 0px #000;
	padding-left: 30px;
	line-height: 4;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.blog-second li .title:hover {
	color: #fff !important;
	text-decoration: none;
	padding-left: 40px;	
}
.blog-second li .date {
	width: 52px;
	height: 52px;
	display: block;
	background: url(../images/events-date.png) no-repeat;
	position: relative;
	text-align: center;
	position: absolute;
	top: 0px;
	left: -60px;
	font-size: 10px;
	color: #c5c5c5;
	line-height: 7.9;
}
.blog-second li .date strong {
	font-size: 22px;
	color: #fff;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 23px;
	left: 14px;
	line-height: 0;
}
.blog-second li a.readmore {
	color: #7c7c7c;
	text-decoration:none;
	margin-left: 30px;
}
.blog-second li a.img {
	width: 590px;
	height: 155px;
	overflow: hidden;
	border: none;
	margin: 5px 0 0 5px;
	opacity: .7;
}
.blog-second li a.img img {
	display: block;
}
.blog-second li a.img:hover {
	opacity: 1;
	border: none !important;
}
.blog-second a.img:hover img {
	-webkit-transform: scale(1.0) !important;
	-moz-transform: scale(1.0) !important;
}
.blog-second p {
	display: block;
	width: 530px;
	margin-left: 30px;
}
/*--------------------------------------------
	TYPOGRAPHY
--------------------------------------------*/

.blog-side h3 {
	font-size: 16px;
	color: #515151;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #f2f2f2;
}
.catg-list {
	list-style: none;
	margin: 20px 0 0 0;
}
.catg-list li a {
	display: block;
	color: #999999;
	font-size: 12px;
	text-decoration: none;
	background: url(../images/list-light.png) no-repeat 0 12px;
	padding: 10px 0 10px 40px;
	border-bottom: 1px dotted #f2f2f2;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.catg-list li a:hover {
	background: url(../images/list-dark.png) no-repeat 0 12px;
	padding: 10px 0 10px 50px;
	color: #515151;
}
.catg-list li a.active {
	background: url(../images/list-dark.png) no-repeat 0 12px;
	padding: 10px 0 10px 50px;
	color: #515151;
}
.tags {
	margin: 30px 0 0 0;
}
.tags-list {
	list-style: none;
	margin: 20px 0 0 0;
}
.tags-list li a {
	display: block;
	background: #f2f2f2;
	border-radius: 3px;
	-moz-border-radius: 3px;
	font-size: 12px;
	float: left;
	color: #999999;
	text-decoration: none;
	padding: 5px;
	margin: 0 5px 5px 0;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
}
.tags-list li a:hover {
	color: #fff !important;
	background: #515151;
}
.comments {
	margin: 30px 0 0 0;
}
.comm-list {
	list-style: none;
	margin: 20px 0 0 0;
}
.comm-list li {
	display: block;
	font-style: italic;
	font-size: 11px;
	color: #999999;
	padding: 10px 0 10px 0px;
	border-bottom: 1px dotted #f2f2f2;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.comm-list li a {
	color: #515151;
	font-size: 12px;
	padding: 0 0 0 20px;
	font-style: normal;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.comm-list li a:hover {
	text-decoration: none;
	padding: 0 0 0 30px;
}
.video {
	margin: 30px 0 0 0;
}
.video iframe {
	margin: 30px 0 0 0;
}
.list-style1, .list-style2, .list-style3 {
	list-style: none;
}
.list-style1 li {
	background: url(../images/list-light.png) no-repeat 0px 6px;
	padding: 5px 0 5px 30px;
	font-size: 12px;
}
.list-style2 li {
	background: url(../images/list-dark.png) no-repeat 0px 6px;
	padding: 5px 0 5px 30px;
	font-size: 12px;
}
.list-style3 li {
	list-style-type: disc;
	padding: 5px 0 5px 10px;
	font-size: 12px;
}

/*--------------------------------------------
	BLOG SINGLE
--------------------------------------------*/

.comments {
	position: relative;
}
.comments h2 {
	border-bottom: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	padding: 10px 0 10px 0;
}
.comment-list {
	list-style: none;
	position: relative;
	margin: 0;
}
.comment-list li {
	position: relative;
	margin: 0;
	border-bottom: 1px solid #f2f2f2;
	padding: 30px 0 30px 0;
}
.comment-list li:last-child {
	border-bottom: none;
}
.comment-list li .avatar {
	display: block;
	border: 5px solid #f2f2f2;
	width: 70px;
	height: 70px;
	position: absolute;
	top: 30px;
	left: 0px;
}
.comment-list li .avatar:hover {
	border: 5px solid #d2d2d2;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.comment-list .bubble {
	width: 375px;
	position: relative;
	border-radius: 3px;
	-moz-border-radius:3px;
	top: 0px;
	left: 174px;
	background: #f2f2f2;
	padding: 20px;
	font-size: 13px;
}
.comment-list .bubble p {
	padding: 0px;
	margin: 0px;
}
.comment-list .bubble p a {
	font-weight: 700;
	text-decoration: none;
	color: #515151;
}
.comment-list .bubble:before {
	position: absolute;
	top: 15px;
	left: -18px;
	width: 18px;
	height: 27px;
	display: block;
	content:"\0020";
	background-image: url(../images/blog/comment-tip.png);
	background-repeat: no-repeat;
}
.comment-form {
	margin: 30px 0 0 0;
	position: relative;
}
.comment-form input {
	margin: 0 0 20px 0;
	position: relative;
}
.comment-form input.mail {
	margin: 0 0 20px 20px !important;
}
.comment-form input, .comment-form textarea {
	background: #f2f2f2;
	width: 260px;
	padding: 10px;
	border: none;
	font-size: 13px !important;
	color: #515151 !important;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.comment-form textarea {
	width: 568px;
	height: 190px;
	font-size: 13px;
}
.comment-form input:focus, .comment-form textarea:focus {
	outline: none;
	border: 1px solid #c4c4c4;
	background: #fff;
	color: #515151 !important;
	-moz-box-shadow: inset 0 0 1px #e9e9e9;
	-webkit-box-shadow: inset 0 0 1px #e9e9e9;
	box-shadow: inner 0 0 1px #e9e9e9;
}
.comment-form .button {
	border: none;
	line-height: 2.3;
	float: right;
	margin-top: 10px;
}


/*--------------------------------------------
	TYPOGRAPHY PAGE
--------------------------------------------*/

.headers h1, h2, h3, h4, h5, h6 {
	color: #515151;
	margin-bottom: 10px;
}

/*--------------------------------------------
	SHORTCODES PAGE
--------------------------------------------*/

ul.buttons {
	list-style: none;
	margin-bottom: 30px;
	height: 30px;
}
ul.buttons li {
	float: left;
	display: inline;
	margin-right: 10px;
}















